<div id="mobile_nav_container" class="mobile-nav-container no-desktop">
  <div class="mobile-nav-wrapper">
    <ul class="mobile-nav-list bold">
      {% for block in section.blocks %}
      {% for link in linklists[block.settings.nav_list_lower].links %}
      <li class="mobile-nav-link">
        <a href="{{link.url}}">{{link.title}}</a>
        <span class="yellow-down-chevron">
          {% render 'icon-yellow-down-chevron' %}
        </span>
      </li>
      {% endfor %}
      {% endfor %}

    </ul>
    <ul class="mobile-nav-list-2 light">
      {% for block in section.blocks %}
      {% for link in linklists[block.settings.nav_list].links %}
      <li class="">
        <a href="{{link.url}}">{{link.title}}</a>
      </li>
      {% endfor %}
      {% endfor %}
    </ul>
    <ul class="mobile-nav-footer light">
      <li class="customer-account">
        {% if customer %}
        <a href="/account" class="user-icon">{% render 'icon-user' %}</a>
        <div class="user-login-status">
          <a href="/account">{{ customer.first_name }}</a>
        </div>
        {% else %}
        <a href="/account/login" class="user-icon">{% render 'icon-user' %}</a>
        <div class="user-login-status">
          <a href="/account/login">Aanmelden/registreren/Account</a>
        </div>
        {% endif %}
      </li>
      <li class="mobile-nav-langs">        
        {% for locale in shop.published_locales %}   
        <span class="{% if request.locale.iso_code == locale.iso_code  %}active{% endif %}">
          <a href="{{ shop.url }}{{locale.root_url}}">{{ locale.iso_code | upcase }}</a>
        </span>
      {% endfor %}
      </li>
      <li class="mobile-nav-social-icons">
        <span>{% render 'facebook' %}</span>
        <span>{% render 'instagram' %}</span>
      </li>
    </ul>
  </div>
</div>