{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'orders.css' | asset_url | stylesheet_tag }}



<div class="grid-wrapper container">
  <div class="collage-grid flex-box justify-between">
    <div id="welcome-tab" class="welcome-tab tabcontent" style="display: block">
      <div class="grid-left-img"> {% render "order_text" %}</div>
      <div class="text-over-grid bold white-bg">WELKOM TERUG {{ customer.first_name }}</div>
    </div>
    <div id="details-tab" class="details-tab tabcontent">
      <div class="details-wrapper">
        <div class="details-container">
          <div class="detail-block">
            <div class="detail-header">
              CONTACTGEGEVENS <span class="underline-link">Wijzig</span>
            </div>
            <div>
              <p class="">{{ customer.email }}</p>
              <p class="">{{ customer.phone }}</p>
            </div>
          </div>
          <div class="detail-block">
            <div class="detail-header">
              LEVERINGSADRES <span class="underline-link">Wijzig</span>
            </div>
            <div>
              <p class="address1">laura Touchant</p>
              <p class="address2">Straatnaam nr toev. Bus</p>
              <p>
                <span class="zip"> Postcode,</span>
                <span class="city">gemeente</span>
              </p>
            </div>
          </div>
          <div class="detail-block">
            <div class="detail-header">FACTUURADRES</div>
            <label>
              <input type="checkbox" name="" /> Zelfde als
              leveringsadres</label>
          </div>
        </div>
      </div>
      <div class="text-over-grid bold">MIJN GEGEVENS</div>
    </div>
    <div id="order_list-tab" class="order_list-tab tabcontent">
      <div class="tab-wrapper">
        <div class="tab-container">
          <div class="detail-block">
            <div class="list-header">
              <div class="date">Di 24 augustus 2021</div>
              <div class="price">€ 24,00</div>
            </div>
            <p>BE 012 345 678</p>
            <p class="flex-box justify-between">
              In behandeling <span class="underline-link">Details >></span>
            </p>
          </div>
          <div class="detail-block">
            <div class="list-header">
              <div class="date">Di 24 augustus 2021</div>
              <div class="price">€ 24,00</div>
            </div>
            <p>BE 012 345 678</p>
            <p class="flex-box justify-between">
              In behandeling <span class="underline-link">Details >></span>
            </p>
          </div>
          <div class="detail-block">
            <div class="list-header">
              <div class="date">Di 24 augustus 2021</div>
              <div class="price">€ 24,00</div>
            </div>
            <p>BE 012 345 678</p>
            <p class="flex-box justify-between">
              In behandeling <span class="underline-link">Details >></span>
            </p>
          </div>
        </div>
      </div>
      <div class="text-over-grid bold">BESTELLINGEN</div>
    </div>
    <div class="grid-right flex-box justify-between ">
      <div onclick="openTab(event, 'details-tab')"
           class="grid-part flex-box align-center text-center tablinks">
        <div class="grid-sub-block semibold">MIJN GEGEVENS</div>
      </div>

      <div id="defaultOpen" onclick="openTab(event, 'welcome-tab')"
           class="grid-part flex-box align-center text-center tablinks">
        <div class="grid-sub-block semibold">
          VOLG MIJN LAATSTE BESTELLING
        </div>
      </div>

      <div onclick="openTab(event, 'order_list-tab')"
           class="grid-part flex-box align-center text-center tablinks">
        <div class="grid-sub-block semibold">MIJN BESTELLINGEN</div>
      </div>

      <div class="grid-part flex-box align-center text-center tablinks">
        <div class="grid-sub-block semibold">SCHRIJF EEN REVIEW</div>
      </div>
    </div>
    <div class="grid-right single-order-details no-disp">
      <div class="product-list-wrapper">
        <div class="detail-header">BESTELLING: BE 012 345 678</div>
        <div class="product-list">
          <div class="product-block">
            <div class="product-img"></div>
            <div class="product-info">
              <div class="product-name">Product name</div>
              <div class="product-variant">Variant <span class="count">Aantal: 1</span></div>
              <div class="product-price"> <span class="compare-at-price">€ 00,00</span> <span
                                                                                              class="discount-price">€ 00,00</span></div>
            </div>
          </div>
          <div class="product-block">
            <div class="product-img"></div>
            <div class="product-info">
              <div class="product-name">Product name</div>
              <div class="product-variant">Variant <span class="count">Aantal: 1</span></div>
              <div class="product-price"> <span class="compare-at-price">€ 00,00</span> <span
                                                                                              class="discount-price">€ 00,00</span></div>
            </div>
          </div>
          <div class="product-block">
            <div class="product-img"></div>
            <div class="product-info">
              <div class="product-name">Product name</div>
              <div class="product-variant">Variant <span class="count">Aantal: 1</span></div>
              <div class="product-price"> <span class="compare-at-price">€ 00,00</span> <span
                                                                                              class="discount-price">€ 00,00</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












<div class="customer account">
  <div>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
      </svg>
      {{ 'customer.log_out' | t }}
    </a>
  </div>

  <div>
    <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                    {{ order.financial_status_label }}
                  </td>
                  <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_price | money_with_currency }}</td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                </ul>
              </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>

  </div>
</div>
