
{{ 'orders.css' | asset_url | stylesheet_tag }}
{{ 'social-media.css' | asset_url | stylesheet_tag }}



<div class="grid-wrapper container mobile-top-margin ">
  <a href="/account/logout" class="logout-btn bold">{{ settings.logout_text }}</a>
  <div class="collage-grid flex-box justify-between no-mobile">
    
    <div id="welcome-tab" class="welcome-tab tabcontent" style="display: block">
      <div class="grid-left-img"> {% render "order_text" %}</div>
      <div class="text-over-grid bold white-bg">{{ settings.welcome_text }} {{ customer.first_name }}</div>
    </div>
    <div id="details-tab" class="details-tab tabcontent">
      <div class="details-wrapper">
        <div class="details-container">
          <div class="detail-block">
            <div class="detail-header">
              {{ settings.cont_detail_text }} <span class="underline-link">{{ settings.change_text }}</span>
            </div>
            <div>
              <p class="">{{ customer.email }}</p>
              <p class="">{{ customer.phone }}</p>
            </div>
          </div>
          <div class="detail-block">
            <div class="detail-header">
              {{ settings.delivery_address_text }} <a href="{{ routes.account_addresses_url }}" class="underline-link">{{ settings.change_text }}</a>
            </div>
            <div>
              {{ order.shipping_address | format_address }}
              {{ customer.default_address | format_address }}
<!--               <p class="address1">laura Touchant</p>
              <p class="address2">Straatnaam nr toev. Bus</p>
              <p>
                <span class="zip"> Postcode,</span>
                <span class="city">gemeente</span>
              </p> -->
            </div>
          </div>
          <div class="detail-block">
            <div class="detail-header">{{ settings.billing_address_text }}</div>
            <label>
              <input type="checkbox" name="" /> {{ settings.same_as_delivery_text }}</label>
          </div>
        </div>
      </div>
      <div class="text-over-grid bold">{{ settings.my_details_text }}</div>
    </div>
    <div id="order_list-tab" class="order_list-tab tabcontent">
      <div class="tab-wrapper">
        <div class="tab-container">
          {%- for order in customer.orders -%}
          <div class="detail-block">
            <div class="list-header">
              <div class="date">{{ order.created_at | time_tag: format: 'date' }}</div>
              <div class="price">{{ order.total_price | money }}</div>
            </div>
            <p>BE 012 345 678</p>
            <p class="flex-box justify-between">
              In behandeling <a href="{{ order.customer_url }}" class="underline-link">Details >></a>
            </p>
          </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="text-over-grid bold">{{ settings.orders_text }}</div>
    </div>
    <div class="grid-right flex-box justify-between ">
      <div onclick="openTab(event, 'details-tab')"
           class="grid-part flex-box align-center text-center tablinks">
        <div class="grid-sub-block semibold">{{ settings.my_details_text }}</div>
      </div>

      <div id="defaultOpen" onclick="openTab(event, 'welcome-tab')"
           class="grid-part flex-box align-center text-center tablinks">
        <div class="grid-sub-block semibold">
          {{ settings.latest_order_text }}
        </div>
      </div>

      <div onclick="openTab(event, 'order_list-tab')"
           class="grid-part flex-box align-center text-center tablinks">
        <div class="grid-sub-block semibold">{{ settings.my_orders_text }}</div>
      </div>

      <div class="grid-part flex-box align-center text-center tablinks">
        <div class="grid-sub-block semibold">{{ settings.write_review_text }}</div>
      </div>
    </div>
  </div>
  <!--   =================== MOBILE GRID ========================== -->
  <div class="mobile-grid no-desktop">
    <div>
      <div class="welcome-tab">
        <div class="grid-left-img"> {% render "order_text" %}</div>
      </div>
      <h2 class="customer-header">{{ settings.welcome_text }} {{ customer.first_name }}</h2>
    </div>

    <div class="customer-details-wrapper">
      <div class="accordion-wrapper">
        <button class="blank-accordion">{{ settings.latest_order_text }}</button>
        
      </div>
      <div class="accordion-wrapper">
        <button class="accordion">{{ settings.my_details_text }}</button>
        <div class="panel">
          <div class="details-wrapper">
            <div class="details-container">
              <div class="detail-block">
                <div class="detail-header">
                  {{ settings.cont_detail_text }} <span class="underline-link">{{ settings.change_text }}</span>
                </div>
                <div>
                  <p class="">{{ customer.email }}</p>
                  <p class="">{{ customer.phone }}</p>
                </div>
              </div>
              <div class="detail-block">
                <div class="detail-header">
                  {{ settings.delivery_address_text }} <a href="{{ routes.account_addresses_url }}" class="underline-link">{{ settings.change_text }}</a>
                </div>
                <div>
                  {{ order.shipping_address | format_address }}
                  {{ customer.default_address | format_address }}
                </div>
              </div>
              <div class="detail-block">
                <div class="detail-header">{{ settings.billing_address_text }}</div>
                <label>
                  <input type="checkbox" name=""{% if customer.billing_address == customer.shipping_address %} checked{% endif %}/> {{ settings.same_as_delivery_text }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-wrapper">
        <button class="accordion">{{ settings.my_orders_text }}</button>
        <div class="panel {% if customer.orders_count > 1 %} order_list{% endif %}">
          <div class="tab-wrapper">
            <div class="tab-container">
              {%- for order in customer.orders -%}
              <div class="detail-block">
                <div class="list-header">
                  <div class="date">{{ order.created_at | time_tag: format: 'date' }}</div>
                  <div class="price">{{ order.total_price | money }}</div>
                </div>
                <p>BE 012 345 678</p>
                <p class="flex-box justify-between">
                  In behandeling <a href="{{ order.customer_url }}" class="underline-link">Details >></a>
                </p>
              </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-wrapper">
        <button class="blank-accordion">{{ settings.write_review_text }}</button>
        
      </div>
    </div>
  </div>
</div>

<!-- newsletter -->

<div class="container">
  <div class="social-media  socila-media-lower newsletter-container">
    <div class="bg-yellow-dots dots-right-down no-mobile">
      {% include 'bg-yellow-dots-sm' %}
    </div>
    <h2 class="text-center newsletter-subscription-heading bold">{{ settings.subscribe_newsletter_heading }}</h2>
    <div class="text-center newsletter-subscription-desc light">{{ settings.newsletter_paragraph }}</div>

    {% form 'customer', class: 'newsletter-form' %}
    <div class="subscription-form flex-box">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input
             id="NewsletterForm--{{ section.id }}"
             type="email"
             name="contact[email]"
             class="subscription-form-input"
             value="{{ form.email }}"
             aria-required="true"
             autocorrect="off"
             autocapitalize="off"
             autocomplete="email"
             {% if form.errors %}
             autofocus
             aria-invalid="true"
             aria-describedby="Newsletter-error--{{ section.id }}"
             {% elsif form.posted_successfully? %}
             aria-describedby="Newsletter-success--{{ section.id }}"
             {% endif %}
             placeholder="youremail@mail.com"
             required
             >
      <button class="submit-btn btn btn-yellow bold" type="submit" form="contact_form" value="Submit">{{ settings.submit_btn_text }} <span class="icon-send">{% render "icon-send" %}</span></button>
    </div>
        {%- if form.errors -%}
    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
    {%- endif -%}
    {%- if form.posted_successfully? -%}
    <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
    {%- endif -%}
    {% endform %}

  </div>
</div>









{% comment %}


<div class="customer account">
  <div>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
      </svg>
      {{ 'customer.log_out' | t }}
    </a>
  </div>

  <div>
    <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                    {{ order.financial_status_label }}
                  </td>
                  <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_price | money_with_currency }}</td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                </ul>
              </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>

  </div>
</div>
  {% endcomment %}
  <script>
  function openTab(evt, tabId) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabId).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  // document.getElementById("defaultOpen").click();
</script>