{{ 'product-collection.css' | asset_url | stylesheet_tag }}


<div class="porduct-collection-wrapper container">
  <div class="product-collection flex-box">
    {% for vendor in shop.vendors %}
    {% for product in collections['all'].products limit:1%}
    {% if product.vendor == vendor %}
    <div class="product-collection-card">
      <div class="featured-product-img rel">
        <a href="{{product.url}}">
          {% if product.images.size == 0 %} 
          {{ 'collection-2' | placeholder_svg_tag }}
          {% else %}
          <img class="product-img" src="{{ product.featured_image.src | img_url: 'x282' }}"></a>
        {% endif %}
        <a href="/collections/all?filter.p.vendor={{vendor}}">
          <div class="product-hover-text flex-box align-center">
            <span class="plus-icon">{% include 'icon-yellow-plus' %}</span>
            <a href="/collections/all?filter.p.vendor={{vendor}}" class="hover-text bold">{{vendor}}</a>
          </div>
        </a>
      </div>
      <a href="" class="collection-btn">MERK</a>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
</div>
<ul>
  {% for product_vendor in shop.vendors %}
  {% assign vendor_handle = product_vendor | handleize %}
  {% assign vendor_collection = collections[vendor_handle].products %}
  {{vendor_collection}}
  
  <li class="{% if product.vendor == product_vendor %}current{% endif %}">
    {% if vendor_collection == empty %}
    {{ product_vendor | link_to_vendor  }}
    {% else %}
    {{ vendor_collection.title | link_to: vendor_collection.url }}
    {% endif %}
  </li>
  {% endfor %}
</ul>



{% schema %}
  {
    "name": "All products",
    "settings": [
		
	],
  "presets": [
    {
      "name": "All Product",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
