{{ 'product-collection.css' | asset_url | stylesheet_tag }}


<div class="porduct-collection-wrapper container">
  <div class="product-collection flex-box">
    {% for vendor in shop.vendors %}
    {% for product in collections['all'].products %}
    {% if vendor == product.vendor  %}


    <div class="product-collection-card">
      <div class="featured-product-img rel">
        <a href="{{product.url}}">
          {% if product.featured_image.src != blank %} 
          <img class="product-img" src="{{ product.featured_image.src | img_url: 'x282' }}"></a>
        {% else %}
        {{ 'product-1' | placeholder_svg_tag }}
        {% endif %}
        <a href="/collections/all?filter.p.vendor={{vendor}}">
          <div class="product-hover-text flex-box align-center">
            <span class="plus-icon">{% include 'icon-yellow-plus' %}</span>
            <a href="/collections/all?filter.p.vendor={{vendor}}" class="hover-text bold">{{vendor}}</a>
          </div>
        </a>
      </div>
      <a href="" class="collection-btn">MERK</a>
    </div>
    {% break %}
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "All products",
    "settings": [
		
	],
  "presets": [
    {
      "name": "All Product",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
