{{ 'product-collection.css' | asset_url | stylesheet_tag }}


<div class="porduct-collection-wrapper container">
  <div class="product-collection flex-box">
    {% for vendor in shop.vendors %}
    {% paginate collections['all'].products by 500 %}
    {% for product in collections['all'].products %}
    {% if vendor == product.vendor and product.featured_image != blank %}


    <div class="product-collection-card">
      <div class="featured-product-img rel">
        <a href="{{product.url}}">
          {%- if settings.vendor_1 == vendor -%}
          <img class="product-img" src="{{ settings.vendor_image_1 | img_url: 'x282' }}">{{vendor_image_1}}
          {% elsif settings.vendor_2 == vendor %}
          <img class="product-img" src="{{ settings.vendor_image_2 | img_url: 'x282' }}">
          {% elsif settings.vendor_3 == vendor %}
          <img class="product-img" src="{{ settings.vendor_image_3 | img_url: 'x282' }}">
          {% elsif settings.vendor_4 == vendor %}
          <img class="product-img" src="{{ settings.vendor_image_4 | img_url: 'x282' }}">
          {% elsif settings.vendor_5 == vendor %}
          <img class="product-img" src="{{ settings.vendor_image_5 | img_url: 'x282' }}">
          {%- elsif product.featured_image.src != blank -%} 
          <img class="product-img" src="{{ product.featured_image.src | img_url: 'x282' }}">
        {%- else -%}
        {{ 'product-1' | placeholder_svg_tag }}
        {%- endif -%}
          </a>
        <a href="/collections/all?filter.p.vendor={{vendor}}">
          <div class="product-hover-text flex-box align-center">
            <span class="plus-icon">{% include 'icon-yellow-plus' %}</span>
            <a href="/collections/all?filter.p.vendor={{vendor}}" class="hover-text bold">{{vendor}}</a>
          </div>
        </a>
      </div>
      <a href="" class="collection-btn">{{vendor}}</a>
    </div>
    {% break %}
    {% endif %}
    {% endfor %}
    {% endpaginate %}
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "All products",
    "settings": [
		
	],
  "presets": [
    {
      "name": "All Product",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
