{% render 'hs-defer-css' with filename: 'article.css', pages: 'collection,index,product' | split: ',', minify: true, local: true %}

{%- assign article_content = article.content  -%}{%- assign readtime = '' -%}
{%- assign words = article_content | number_of_words | strip_html | split:' ' -%}
{%- assign readtime = words.size | divided_by: 180 | round | at_least: 1 -%}
{%- capture readtime -%}{{ readtime }}- min read{%- endcapture -%}
<div class="background-overlay">
  <div class="container article-container">
    <div class="content-wrapper">


      <a class="back-btn" href="/blogs/news">{% include "back-icon" %} Terug</a>
      <div class="time-and-date">
        <span>{{readtime}}</span>
        <span class="date">{{ article.published_at | date: '%d/%m/%Y' }}</span>
      </div>
      <div class="article-image">
        <img alt="" class="lazyload hs-lazyload hs-id-aa5abf74" data-src="{{ article.image.src | img_url: 'master' }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
      </div>
      <div class="author">
        <img alt="author" class="lazyload hs-lazyload hs-id-3a9aac35" data-src="{{ article.image.src | img_url: 'master' }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span class="author-name">{{ article.author }}</span>
      </div>
      <div class="article-content">
        <div class="heading">
          {{ article.title }}
        </div>
        <div class="description">
          {{ article.content }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Blog article",
"settings": [],
"presets": [
{
"name": "Blog article"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
