{{ 'blog-section.css' | asset_url | stylesheet_tag }}

{%- assign article = article.content -%}{%- assign readtime = '' -%}

{%- assign words = article | strip_html | split:' ' -%}

{%- assign readtime = words.size | divided_by: 200 | round | at_least: 1 -%}
{%- capture readtime -%}{{ readtime }}- min read{%- endcapture -%}



{% for article in blog.articles %}
{% if forloop.first %}
<div class="featured-blog-post container">
  <div class="blog-text">
    <div class="welcomeheading">
      WELKOM OP ONZE BLOG
    </div>
    <div class="date_and_time">
      <span class="date">10/08/21</span> -
      <span class="time">{{ readtime }}</span>
      <p class="topic">ONDERWERP</p>
    </div>
    <div class="blogheading">{{ article.title }}</div>
    <div class="blogdesc">{{ article.excerpt_or_content | strip_html | truncatewords: 20 | escape }}</div>
    <button class="btn"><a href="{{ article.url }}">VERDER LEZEN</a></button>
  </div>
  <div class="blog-image-with-overlay">
    {% if article.image != blank %}
        <img
             srcset="{% if article.image.width >= 479 %}{{ article.image | img_url: '479x' }} 479w,{% endif %}
                     {% if article.image.width >= 786 %}{{ article.image | img_url: '786x' }} 786w,{% endif %}
                     {% if article.image.width >= 992 %}{{ article.image | img_url: '992x' }} 992w,{% endif %}
                     {% if article.image.width >= 700 %}{{ article.image | img_url: '700x' }} 700w{% endif %}"
             src="{{ article | img_url : "master"}}" loading="lazy" alt="Blog Image" class="article-image-full">
        {% else %}
        {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}


<div class="blog-filter-container container">
  <div class="filter-pills">
    <span class="active">Alle</span>
    {% for tag in blogs.news.all_tags %}
    <span data-bfilter="{{ tag }}">{{tag}}</span>
 	{% endfor %}
  </div>
  <div class="filtered-blog-container">
    {% for article in blogs.news.articles reversed  %}
    {% assign desc = article.content %}
    <div class="blogs" data-btag="{% for tag in article.tags %}{{ tag }}{% if forloop.last == false %},{% endif %}{% endfor %}">
      <div class="blog-image">
        <a href="{{article.url}}">
        {% if article.image != blank %}
        <img
             srcset="{% if article.image.width >= 479 %}{{ article.image | img_url: '479x' }} 479w,{% endif %}
                     {% if article.image.width >= 786 %}{{ article.image | img_url: '786x' }} 786w,{% endif %}
                     {% if article.image.width >= 992 %}{{ article.image | img_url: '992x' }} 992w,{% endif %}
                     {% if article.image.width >= 700 %}{{ article.image | img_url: '700x' }} 700w{% endif %}"
             src="{{ article | img_url : "master"}}" loading="lazy" alt="Blog Image" class="article-image-full">
        {% else %}
        {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
      </a>
      </div>
      <div class="blog_date_and_time">
        <span class="blog-date">10/08/21</span>
        <span class="blog-time">{{ readtime }}</span>
      </div>
      <p class="blog-topic">ONDERWERP</p>
      <div class="blog-heading">{{article.title}}</div>
      <div class="blogdesc">{{desc | strip_html | truncatewords: 20 | escape}}</div>
      <div class="readmore"><a href="{{article.url}}">Verder lezen >></a></div>
    </div>

    {% endfor %}

  </div>
  <div class="load-more-btn">
    <button class="load-more">MEER LADEN</button>
  </div>
</div>

{% schema %}
  {
    "name": "Blog section",
    "settings": [],
	"presets": [
    {
      "name": "Blog Section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
