{{ 'product-collection.css' | asset_url | stylesheet_tag }}

<div class="porduct-collection-wrapper container">
  <div class="product-collection flex-box">
    {% for collection in collections %}
    <a href = "{{collection.url}}">
      <div class="product-collection-card">
        <div class="featured-product-img rel">
          <a href="{{collection.url}}"> 
            {% if collection.image %}
            <img class="product-img" src="{{ collection.image | img_url: 'x282' | img_tag: collection.image.alt }}">
            {% else %}
            {% assign alt = collection.title | escape %}
           <img class="product-img" src=" {{ collection.products.first.image | img_url: 'x282' | img_tag: alt }}">
            {% endif %}
          <a href="{{collection.url}}">
          <div class="product-hover-text flex-box align-center">
            <span class="plus-icon">{% include 'icon-yellow-plus' %}</span>
            <a href="{{collection.url}}" class="hover-text bold">{{collection.title}}</a>
          </div>
          </a>
        </div>
        <a href="" class="collection-btn">{{collection.title}}</a>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection List",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
