{{ 'form-with-text.css' | asset_url | stylesheet_tag }}

<div class="form-with-text">
  <div class="container">
    <div class="form_with_text_wrapper">
      <div class="text_content">
        <div class="text_heading">
          <h2 class="section-heading">{{section.settings.contact_text}}</h2>
        </div>
        <div class="text_description">
          <p>{{section.settings.contact_desc}}</p>
          <div class="address">
            <span class="flex-box">{% include "map-pin" %}</span>
            <span class="address_text">{{section.settings.contact_address}}</span>
          </div>
          <div class="mail">
            <span class="flex-box">{% include "mail-box" %}</span>
            <a href="mailto:{{section.settings.contact_email}}" class="address_text">{{section.settings.contact_email}}</a>
          </div>
          <div class="frequently_asked_q">
            <a href="#veelgestelde-vragen" class="btn">{{section.settings.btn}}</a>
          </div>
        </div>
      </div>
      <div class="form">
        {%- form 'contact', id: 'ContactForm' -%}
        {%- if form.posted_successfully? -%}
        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
        {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
        {%- endif -%}
          <div class="form_container">
            <div class="input_form_control input-1">
              <label for="first-name">{{ section.settings.name_label }}*</label>
              <input placeholder="Vul je naam in" 
                     type="text" 
                     name="contact[first_name]" id="first-name" class="name" 
                     value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                     required
                     >
            </div>
            <div class="input_form_control input-2">
              <label for="ContactForm-email">{{ section.settings.email_label }}*</label>
              <input
                     autocomplete="email"
                     type="email"
                     id="ContactForm-email"
                     name="contact[email]"
                     spellcheck="false"
                     autocapitalize="off"
                     value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                     aria-required="true"
                     {% if form.errors contains 'email' %}
                     aria-invalid="true"
                     aria-describedby="ContactForm-email-error"
                     {% endif %}
                     placeholder="youremail@mail.com"
                     required
                     >
              {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
              </small>
              {%- endif -%}
            </div>
            <div class="input_form_control input-3">
              <label for="ContactForm-phone">{{ section.settings.phone_label }}</label>
              <input 
                     type="tel" 
                     id="ContactForm-phone" 
                     autocomplete="tel" 
                     name="contact[phone-number]" 
                     pattern="[0-9\-]*" 
                     value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" 
                     placeholder="Vul je telefoonnummer in, enkel cijfers"
                     
                     >
            </div>
            <div class="input_form_control input-4">
              <label for="topic">{{ section.settings.topic_label }}</label>
              <input 
                     placeholder="Waarover gaat je bericht?" 
                     type="text" 
                     id="topic" 
                     name="contact[topic]"
                     >
            </div>
            <div class="input_form_control input-5">
              <label for="order-number">{{ section.settings.ordernum_label }}</label>
              <input 
                     placeholder="Vul je ordernummer in, indien van toepassing" 
                     type="text" 
                     id="order-number" 
                     name="contact[order_number]"
                     >
            </div>
            <div class="input_form_control input-6">
              <label for="message">{{ section.settings.message_label }}*</label>
              <textarea 
                        rows="8" cols="50" 
                        placeholder="Jouw bericht" 
                        id="message"
                        name="contact[body]"
                        class="name"
                        required
                        >
                {{- form.body -}}
              </textarea>
            </div>
            <div class="submit_button">
              <button type="submit" class="btn-yellow">{{ section.settings.sbmtbtn_label }} <span class="icon-send">{% render "icon-send" %}</span></button>
            </div>
          </div>
       {%- endform -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "ContactForm-with-text",
    "settings": [
		{
          "id": "contact_text",
          "type": "text",
          "label": "Heading",
		  "default" : "WAAR KAN JE ONS VINDEN"
        },
		{
          "id": "contact_desc",
          "type": "html",
          "label": "Description"
        },
		{
          "id": "contact_address",
          "type": "textarea",
          "label": "Address"
        },
		{
          "id": "contact_email",
          "type": "text",
          "label": "Email"
        },
		{
          "id": "btn",
          "type": "text",
          "label": "Button Text"
        },
		{
          "id": "name_label",
          "type": "text",
          "label": "Name Label",
			"default": "Naam"
        },
		{
          "id": "email_label",
          "type": "text",
          "label": "Email Label",
			"default": "E-MAIL"
        },
		{
          "id": "phone_label",
          "type": "text",
          "label": "Telephone Label",
			"default": "TELEFOONNUMMER"
        },
		{
          "id": "topic_label",
          "type": "text",
          "label": "Topic Label",
			"default": "ONDERWERP"
        },
		{
          "id": "ordernum_label",
          "type": "text",
          "label": "Order Number Label",
			"default": "ORDERNUMMER"
        },
		{
          "id": "message_label",
          "type": "text",
          "label": "Message Label",
			"default": "UW BERICHT"
        },
		{
          "id": "sbmtbtn_label",
          "type": "text",
          "label": "Submit Button Text",
			"default": "VERZENDEN"
        }
	],
	"presets": [
    {
      "name": "ContactForm with text"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
