{{ 'form-with-text.css' | asset_url | stylesheet_tag }}

<div class="form-with-text {{ section.settings.section_padding }} {{ section.settings.section_margin }}">
  <div class="container">
    <div class="form_with_text_wrapper plain-form">
      <div class="text_heading">
        <h2 class="section-heading">{{section.settings.contact_text}}</h2>
      </div>
      <div class="form">
        {%- form 'contact', id: 'ContactForm' -%}

          <div class="form_container">
            <div class="input_form_control ">
              <label for="first-name">{{ section.settings.name_label }}*</label>
              <input placeholder="Vul je naam in" 
                     type="text" 
                     name="contact[first_name]" id="first-name" class="name" 
                     value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                     required
                     >
            </div>
            <div class="input_form_control ">
              <label for="ContactForm-email">{{ section.settings.email_label }}*</label>
              <input
                     autocomplete="email"
                     type="email"
                     id="ContactForm-email"
                     name="contact[email]"
                     spellcheck="false"
                     autocapitalize="off"
                     value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                     aria-required="true"
                     {% if form.errors contains 'email' %}
                     aria-invalid="true"
                     aria-describedby="ContactForm-email-error"
                     {% endif %}
                     placeholder="youremail@mail.com"
                     required
                     >
              {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
              </small>
              {%- endif -%}
            </div>
            <div class="input_form_control ">
              <label for="ContactForm-phone">{{ section.settings.phone_label }}</label>
              <input 
                     type="tel" 
                     id="ContactForm-phone" 
                     autocomplete="tel" 
                     name="contact[phone-number]" 
                     pattern="[0-9\-]*" 
                     value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" 
                     placeholder="Vul je telefoonnummer in, enkel cijfers"
                     
                     >
            </div>
            <div class="input_form_control ">
              <label for="cv-motivate">{{ section.settings.motivation_label }}</label>
              <input 
                     placeholder="Klik om uw bestand te updloaden" 
                     type="text" 
                     id="cv-motivate" 
                     name="contact[cv_motivate]"
                     >
            </div>
            <div class="input_form_control ">
              <label for="message">{{ section.settings.message_label }}*</label>
              <textarea 
                        rows="8" cols="50" 
                        placeholder="Jouw bericht" 
                        id="message"
                        name="contact[body]"
                        class="name"
                        required
                        >
                {{- form.body -}}
              </textarea>
            </div>
            <div class="submit_button">
              <button type="submit" class="btn-yellow">{{ section.settings.sbmtbtn_label }} <span class="icon-send">{% render "icon-send" %}</span></button>
            </div>
          </div>
                {%- if form.posted_successfully? -%}
        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
        {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
        {%- endif -%}
       {%- endform -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact form plain",
    "settings": [
		{
          "id": "contact_text",
          "type": "text",
          "label": "Heading",
		  "default" : "WAAR KAN JE ONS VINDEN"
        },
{
                    "type": "select",
                    "id": "section_padding",
                    "options": [
                        {
                            "value": "padding-y-0",
                            "label": "None"
                        },
                        {
                            "value": "padding-y-25",
                            "label": "Small"
                        },
                        {
                            "value": "padding-y-50",
                            "label": "Medium"
                        },
                        {
                            "value": "padding-y-75",
                            "label": "Large"
                        }
                    ],
                    "default": "padding-y-25",
                    "label": "Section Padding(top-bottom)"
                },
                {
                    "type": "select",
                    "id": "section_margin",
                    "options": [
                        {
                            "value": "margin-y-0",
                            "label": "None"
                        },
                        {
                            "value": "margin-y-25",
                            "label": "Small"
                        },
                        {
                            "value": "margin-y-50",
                            "label": "Medium"
                        },
                        {
                            "value": "margin-y-75",
                            "label": "Large"
                        }
                    ],
                    "default": "margin-y-25",
                    "label": "Section Margin(top)"
                },
		{
          "id": "name_label",
          "type": "text",
          "label": "Name Label",
			"default": "Naam"
        },
		{
          "id": "email_label",
          "type": "text",
          "label": "Email Label",
			"default": "E-MAIL"
        },
		{
          "id": "phone_label",
          "type": "text",
          "label": "Telephone Label",
			"default": "TELEFOONNUMMER"
        },
		{
          "id": "motivation_label",
          "type": "text",
          "label": "Order Number Label",
			"default": "CV - MOTIVATIE"
        },
		{
          "id": "message_label",
          "type": "text",
          "label": "Message Label",
			"default": "UW BERICHT"
        },
		{
          "id": "sbmtbtn_label",
          "type": "text",
          "label": "Submit Button Text",
			"default": "VERZENDEN"
        }
	],
	"presets": [
    {
      "name": "Contact form plain"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
