{{ 'featured-collection-new.css' | asset_url | stylesheet_tag }}


{% assign product_handle = section.settings.featured_collection %} 


<div class="featured-collection-wrapper container {{ section.settings.marg_top }}" >
  <h2 class="featured-collection-heading yellow-text bold">{{ section.settings.featured_collection_title }}</h2>
  <div class="featured-collection-desc semibold">{{ section.settings.featured_collection_desc }}</div>

  <div class="featured-products flex-box">

    {% for product in collections[product_handle].products limit:3 %}
    <div class="featured-product-card">

      <div class="featured-product-img rel">
        <a href="{{product.url}}"><img class="product-img" src="{{ product.featured_image.src | img_url: 'x282' }}"></a>
        <div class="AddToCart fp-hover-text flex-box align-center " data-variant-id="{{product.first_available_variant.id}}" data-quantity = "1">
          <span class="plus-icon">{% include 'icon-yellow-plus' %}</span>
          <span class="hover-text bold">{{ section.settings.hover_text }}</span>
        </div>
      </div>
      <div class="product-title-price flex-box justify-between">
        <div class="product-title semibold"><a href="{{product.url}}">{{ product.title | escape  }}</a></div>
        <div class="product-compare-to-and-price">
          {% if product.compare_at_price %}<span class="compare-to-price light">{{ product.compare_at_price | money }}</span>{% endif %}
          <span class="product-price semibold{% if product.compare_at_price %} yellow-text{% endif %}">{{ product.price | money }}</span>
        </div>
      </div>
      
      <div class="product-colors flex-box justify-between light">
        {% if product.has_only_default_variant %}   
        <div class="product-color">

        </div>          
        {% else %}
        {% for variant in product.variants limit:1%}
        {%- for option in product.options_with_values limit: 1 -%}
        {% assign opt_name = option.name %}
        <div class="product-color">
          <span>{{option.name}}: </span>
          <span>
            {{variant.title}}
          </span>
        </div>
        {% endfor %}
        {% endfor %}
        <div class="other-available-colors">
          <a class="featured-product-link" href="{{product.url}}">{% if opt_name contains "Kleur" or opt_name contains "Color" %}{{ section.settings.more_color_text }}{% else %}{{ section.settings.more_options_text }}{% endif %}</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  {% for block in section.blocks %}
  {% if block.type == "button" %}
  {%- if block.settings.button_label != blank -%}
  <a href="{{ block.settings.button_link }}" class="btn center-it {% if block.settings.button-color == 'grey' %}btn-grey{% else %}btn-yellow{% endif %}">{{ block.settings.button_label | escape }}</a>
  {%- endif -%}
  {% endif %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
		{
          "type": "text",
          "id": "featured_collection_title",
          "label": "Featured Collection Title"
        },
		{
          "type": "text",
          "id": "featured_collection_desc",
          "label": "Featured Collection Desc"
        },
		{
          "type": "collection",
          "id": "featured_collection",
          "label": "Featured Collection"
        },
		{
			"type": "text",
			"id": "more_color_text",
			"label": "More Colours Text",
			"default": "Meer kleuren beschikbaar"
		},
		{
			"type": "text",
			"id": "more_options_text",
			"label": "More Options Text",
			"default": "meer opties beschikbaar"
		},
		{
			"type": "text",
			"id": "hover_text",
			"label": "Hover Text",
			"default": "KOPEN"
		},
		{
            "type": "select",
            "id": "marg_top",
            "label": "Margin Top",
            "options": [
              {
                "value": "big",
                "label": "Big"
              },
              {
                "value": "medium",
                "label": "Medium"
              }
            ],
            "default": "medium"
          }
	],
	"blocks": [
	{
          "type": "button",
          "name": "Button",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "button_label",
              "default": "Button label",
              "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
              "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
            },
            {
              "type": "select",
              "id": "button-color",
              "options": [
                {
                  "value": "grey",
                  "label": "Grey"
                },
                {
                  "value": "yellow",
                  "label": "Yellow"
                }
              ],
              "default": "grey",
              "label": "Grey"
            }
          ]
        }
  ],
  "presets": [
    {
      "name": "Featured Collection",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
