{{ 'latest-blogs.css' | asset_url | stylesheet_tag }}

{%- assign article = article.content -%}{%- assign readtime = '' -%}

{%- assign words = article | strip_html | split:' ' -%}

{%- assign readtime = words.size | divided_by: 200 | round | at_least: 1 -%}
{%- capture readtime -%}{{ readtime }}- min read{%- endcapture -%}


<div class="latest-blogs-wrapper container">
  <h2 class="latest-blogs-heading bold">{{section.settings.latest_blogs_heading}}</h2>
  <div class="latest-blogs flex-box justify-between">
    {% for article in blogs.news.articles limit:3 %}
    {% assign desc = article.content %}
    <div class="latest-blog">
      <div class="blog-img">
        <a href="{{article.url}}">
          {% if article.image != blank %}
          <img
               srcset="{% if article.image.width >= 479 %}{{ article.image | img_url: '479x' }} 479w,{% endif %}
                       {% if article.image.width >= 786 %}{{ article.image | img_url: '786x' }} 786w,{% endif %}
                       {% if article.image.width >= 992 %}{{ article.image | img_url: '992x' }} 992w,{% endif %}
                       {% if article.image.width >= 700 %}{{ article.image | img_url: '700x' }} 700w{% endif %}"
               src="{{ article | img_url : "master"}}" loading="lazy" alt="Blog Image" class="article-image-full">
          {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag }}
          {% endif %}
        </a>
      </div>
      <div class="blog-date-read-time flex-box justify-between light">
        <div class="blog-date">{{ article.published_at | date: '%d/%m/%Y' }}</div>
        <div class="blog-read-time">{{ readtime }}</div>
      </div>
      <div class="blog-topic bold">
        {% for tag in blogs.news.all_tags reversed limit:1 %}
        {{tag}}
        {% endfor %}
      </div>
      <div class="blog-title semibold">
        {{ article.title }}
      </div>
      <div class="blog-desc light">
        {{ article.excerpt_or_content | strip_html | truncatewords: 20 | escape }}
      </div>
      <a href="{{ article.url }}" class="blog-link light">{{section.settings.link_text}} >></a>
    </div>

    {% endfor %}

  </div>
  {% for block in section.blocks %}
  {% if block.type == "button" %}
  {%- if block.settings.button_label != blank -%}
  <a href="{{ block.settings.button_link }}" class="btn center-it {% if block.settings.button-color == 'grey' %}btn-grey{% else %}btn-yellow{% endif %}">{{ block.settings.button_label | escape }}</a>
  {%- endif -%}
  {% endif %}
  {% endfor %}
</div>

{% schema %}
  {
  "name": "Latest Blogs",
  "settings": [
    {
      "type": "text",
      "id": "latest_blogs_heading",
      "label": "Latest Blog Heading"
    },
	{
      "type": "text",
      "id": "link_text",
      "label": "Read More Text",
	   "default" : "Verder lezen"
    }	
  ],
  "blocks": [
	{
          "type": "button",
          "name": "Button",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "button_label",
              "default": "Button label",
              "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
              "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
            },
            {
              "type": "select",
              "id": "button-color",
              "options": [
                {
                  "value": "grey",
                  "label": "Grey"
                },
                {
                  "value": "yellow",
                  "label": "Yellow"
                }
              ],
              "default": "grey",
              "label": "Grey"
            }
          ]
        }
  ],
  "presets": [
    {
      "name": "Latest Blogs",
		"category":"section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
