{% assign product =  section.settings.product_with_text %}
{% for product in collection['all'].products %}
<div class="article-product">
  <div class="product-image">
    <img src="12.jpg" alt="product Image" loading="lazy">
  </div>
  <div class="product-content">
    <div class="product-title">{{product.title}}</div>
    <div class="product-variant">
      <span>Kleur: Paars</span>
    </div>
    <div class="productprice">
      <span class="compare-to-price">{{ product.compare_at_price | money }}</span>
      <span class="product-price">{{ product.price | money  }}</span>
    </div>
    <div class="product-desc">
      {{product.description}}
    </div>
    <div class="product-hover-text flex-box align-center">
      <span class="plus-icon">{% include 'icon-yellow-plus' %}</span>
      <a href="{{product.url}}" class="hover-text bold">KOPEN</a>
    </div>
  </div>
</div>
{% endfor %}


{% schema %}
  {
    "name": "Product with text",
    "settings": [
      {
          "type": "product",
          "id": "product_with_text",
          "label": "Product",
          "info": "Select a product"
        }
]
,
	"presets": [
    {
      "name": "Product with text"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
