{{ 'faq.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'product-block.css' | asset_url | stylesheet_tag }}
{{ 'image-with-text-new.css' | asset_url | stylesheet_tag }}
<style>
  .slick-next {
    right: 8px;
    width: calc(25% - 20.5px);
    height: 84px;
    border-radius: 8px;
    background-color: #000000;
    opacity: 0.8;
    top: 40.5px;
    background-image: url('{{ 'next-arrow.png' | asset_img_url: '300x' }}');
      background-repeat: no-repeat;
      background-position: 50%;
      }

  .slick-next svg{
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);

  }

  .slick-prev {
    left: 12px;
    width: calc(25% - 20.5px);
    height: 84px;
    border-radius: 8px;
    background: #000000;
    opacity: 0.8;
    top: 40.5px;
    z-index: 1;
    background-image: url('{{ 'next-arrow.png' | asset_img_url: '300x' }}');
      background-repeat: no-repeat;
      background-position: 50%;
      }

  .product-block-wrapper .dots-left-down {
    top: -23px;
    left: -22px;
  }

  .slider-for img{
    height:572px;
    background-color: #ffffff;
  }

  @media screen and (max-width: 560px) {
    .slick-next{
      right: 5px;
      width: calc(25% - 18.5px);
    }

    .slick-prev {
      left: 11px;
      width: calc(25% - 18.5px);
    }

    .slider-for img {
      max-height: 263px;
    }
  }


</style>



<div class="product-block-wrapper container rel">
  <div class="bg-yellow-dots dots-left-down">
    {% include 'bg-grey-dots' %}
  </div>
  <div class="product-block flex-box justify-between">

    <div class="product-block-left">
      <div class="slider-for">
        {% for image in product.images %}
        <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title | escape }}" style="width: 100%;">
        {% endfor %}
      </div>
      <div class="slider-nav">
        {% for image in product.images %}
        <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title | escape }}" style="width: 100%;">
        {% endfor %}
      </div>
    </div>
    <div class="product-block-right">
      <h2 class="product-title bold">{{ product.title }}</h2>
      <div class="product-price-wrapper">
        <div class="no-js-hidden" id="price-{{ section.id }}">
          {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
        </div>
      </div>

      <div class="product-desc light style-scrollbar">{{ product.description }}</div>

      <!--       ----------------------------------------------------------------------- -->
      {%- unless product.has_only_default_variant -%}
      <div class="variant-options-wrapper">
        <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
          <div class="fieldset-wrapper style-scrollbar">
          {%- for option in product.options_with_values -%}
          <fieldset class="js product-form__input">
            <div class="variant-option-name">
              {%- if option.name == "Size" or option.name == "Maat" -%}
              KIES JOUW MAAT

              <div class="show modal-btn" aria-haspopup="true">Maattabel</div>
              <div class="mask" role="dialog"></div>
              <div class="modal style-scrollbar" role="alert">
                <div style="width: 100%;min-height: 520px;background-color: #D9D9D9;border: 1px solid #707070;display: block;"></div>
                <button class="close" role="button">{% render "icon-close-1" %}</button>
              </div>
              {%- endif -%}
            </div>
            {% paginate collections[section.settings.grouping_collection].products by 1000 %}
            {%- for productx in collections[section.settings.grouping_collection].products -%}
            {%- for optionx in productx.options_with_values -%}
            {%- for value in optionx.values -%}
            <input type="radio" id="{{ section.id }}-{{ value }}-{{ forloop.index0 }}"
                   class="no-disp"
                   name="{%- if optionx.name == "Title" or optionx.name == "Maat" or optionx.name == "Size" -%}
                         Title
                         {%- else if optionx.name == "Kleur" or optionx.name == "Color" -%}
                         Color
                         {%- endif -%}"
                   value="{{ value | escape }}"
                   form="product-form-{{ section.id }}"
                   {% if product.id == productx.id %}checked{% endif %}
                   >
            {%-if optionx.name == "Kleur" or optionx.name == "Color" -%}
            <label class="{{ optionx.name }}" for="{{ section.id }}-{{ value }}-{{ forloop.index0 }}">
              <span class="color-swatch" style="background-color:{{ productx.variants[forloop.index0].metafields.my_fields.color }}"></span> {{ value }} 
            </label>
            {%- else -%}
            <label class="{{ optionx.name }} title-label" for="{{ section.id }}-{{ value }}-{{ forloop.index0 }}">
              {{ value }} 
            </label>&nbsp{% unless forloop.last %} - {% endunless %}&nbsp
            {%- endif -%}
            {%- endfor -%}
            {%- endfor -%}
            {%- endfor -%}
            {% endpaginate %}
          </fieldset>
          {%- endfor -%}
            </div>
          <script id="product-json" type="application/json">
          {% paginate collections[section.settings.grouping_collection].products by 1000 %}
          [{%- for productx in collections[section.settings.grouping_collection].products -%}
          {%- capture stringer -%}
          {{ productx.variants | json }}
          {%- endcapture -%}
          {{ stringer | replace_first: "[", "" | split: "" | reverse | join: "" | replace_first: "]", "" | split: "" | reverse | join: "" }}{% unless forloop.last %},{% endunless %}
          {%- endfor -%}]
          {% endpaginate %}
          </script>
        </variant-radios>
      </div>
      {%- endunless -%}
      <!--       ------------------------------------------------------------------------------- -->

      <div class="product-qty-add-to-cart-wrapper flex-box justify-between">
        <div class="product-qty semibold flex-box">
          <span class="qty-minus qty-nav flex-box align-center justify-center"><span>-</span></span>
          <span class="qty flex-box align-center justify-center" data-qty="1">1</span>
          <span class="qty-plus qty-nav flex-box align-center justify-center"><span>+</span></span>
        </div>
        <div id="add-to-cart" 
             class="AddToCart add-to-cart-btn btn btn-yellow bold flex-box justify-center align-center" 
             data-value="{{ product.selected_or_first_available_variant.id }}"
             data-variant-id = "{{product.selected_or_first_available_variant.id }}"
             data-quantity = ""
             >
          <span>TOEVOEGEN AAN WINKELMANDJE</span>
        </div>
      </div>
      <div class="cont-shopping light">
        <a href="#">Verder winkelen</a>
      </div>
      <div class="product-details">
        <div class="accordion question semibold flex-box justify-between">
          <div class="question-left">OMSCHRIJVING</div>
          <div class="question-chevron yellow-down-chevron">{% include 'icon-black-down-chevron' %}</div>
        </div>
        <div class="panel answer light"><p>{{ product.metafields.my_fields.omschrijving }}</p></div>


        <div class="accordion question semibold flex-box justify-between">
          <div class="question-left">MATERIAAL</div>
          <div class="question-chevron yellow-down-chevron">{% include 'icon-black-down-chevron' %}</div>
        </div>
        <div class="panel answer light"><p>{{ product.metafields.my_fields.materiaal }}</p></div>


        <div class="accordion question semibold flex-box justify-between">
          <div class="question-left">GEBRUIKSAANWIJZING</div>
          <div class="question-chevron yellow-down-chevron">{% include 'icon-black-down-chevron' %}</div>
        </div>
        <div class="panel answer light"><p>{{ product.metafields.my_fields.gebruiksaanwijzing }}</p></div>


        <div class="accordion question semibold flex-box justify-between">
          <div class="question-left">WASVOORSCHRIFT</div>
          <div class="question-chevron yellow-down-chevron">{% include 'icon-black-down-chevron' %}</div>
        </div>
        <div class="panel answer light"><p>{{ product.metafields.my_fields.wasvoorschrift }}</p></div>


      </div>
    </div>
  </div>
</div>

{% comment %}
{% include "cart-scripts" %}
{% endcomment %}

<script>
  $('.qty-minus').click(function() {
  	var data_qty = parseInt($(this).next().data('qty'));
    if( data_qty != 1 )
    {
    	data_qty = data_qty - 1;
      $(this).next().data('qty', data_qty);
      $(this).next().html(data_qty);
    }
  });
  
  $('.qty-plus').click(function() {
    var data_qty = parseInt($(this).prev().data('qty'));
    data_qty = data_qty + 1;
    $(this).prev().data('qty', data_qty);
    $(this).prev().html(data_qty);
  });
  
  
  
  // Click function for show the Modal

$(".show").on("click", function(){
  $(".mask").addClass("active");
});

// Function for close the Modal

function closeModal(){
  $(".mask").removeClass("active");
}

// Call the closeModal function on the clicks/keyboard

$(".close, .mask").on("click", function(){
  closeModal();
});

$(document).keyup(function(e) {
  if (e.keyCode == 27) {
    closeModal();
  }
});
</script>



{% schema %}
  {
    "name": "Product-Block-Grouping",
    "settings": [
		{
            "type": "text",
            "id": "featured_collection_title",
            "label": "Featured Collection Title"
		},
		{
            "type": "collection",
            "id": "grouping_collection",
            "label": "Add collection having all the similar variants"
		}
	],
	"presets": [
    {
      "name": "Product-Block-Grouping",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
