{{ 'faq.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'product-block.css' | asset_url | stylesheet_tag }}
<style>
  .slick-next {
    /* right: -62px; */
    right: 7px;
    width: calc(25% - 20.5px);
    height: 84px;
    border-radius: 8px;
    background: #000000;
    opacity: 0.8;
    top: 40.5px;
}
  
  .slick-next svg{
  width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    
  }
  
  .slick-prev {
    left: 12px;
    width: calc(25% - 20.5px);
    height: 84px;
    border-radius: 8px;
    background: #000000;
    opacity: 0.8;
    top: 40.5px;
    z-index: 1;
}
  
  .product-block-wrapper .dots-left-down {
    top: -23px;
    left: 2px;
}
  
  .slider-for img{
  height:572px;
  }
</style>


<div class="product-block-wrapper container rel">
  <div class="bg-yellow-dots dots-left-down">
      	{% include 'bg-grey-dots' %}
      </div>
  <div class="product-block flex-box justify-between">
    
    <div class="product-block-left">
      <div class="slider-for">
        {% for image in product.images %}
        <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title | escape }}" style="width: 100%;">
        {% endfor %}
      </div>
      <div class="slider-nav">
        {% for image in product.images %}
        <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title | escape }}" style="width: 100%;">
        {% endfor %}
      </div>
    </div>
    <div class="product-block-right">
      <h2 class="product-title bold">{{ product.title }}</h2>
      <div class="product-price-wrapper">
        <div class="no-js-hidden" id="price-{{ section.id }}">
        {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
      </div>
      </div>
      
      <div class="product-desc light">{{ product.description }}</div>
      
<!--       ----------------------------------------------------------------------- -->
      <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
        {%- for option in product.options_with_values -%}
        <fieldset class="js product-form__input">
          <legend class="form__label">{{ option.name }}</legend>
          {%- for value in option.values -%}
          <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                 name="{{ option.name }}"
                 value="{{ value | escape }}"
                 form="product-form-{{ section.id }}"
                 {% if option.selected_value == value %}checked{% endif %}
                 >
          <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
            {{ value }} {%- if forloop.last != true  -%}-{%- endif -%}
          </label>
          {%- endfor -%}
        </fieldset>
        {%- endfor -%}
        <script type="application/json">
        {{ product.variants | json }}
        </script>
      </variant-radios>
<!--       ------------------------------------------------------------------------------- -->
      
      <div class="product-qty-add-to-cart-wrapper flex-box justify-between">
        <div class="product-qty semibold flex-box">
          <span class="qty-minus qty-nav flex-box align-center justify-center"><span>-</span></span>
          <span class="qty flex-box align-center justify-center" data-qty="1">1</span>
          <span class="qty-plus qty-nav flex-box align-center justify-center"><span>+</span></span>
        </div>
        <div id="add-to-cart" class="add-to-cart-btn btn btn-yellow bold flex-box justify-center align-center"><span>TOEVOEGEN AAN WINKELMANDJE</span></div>
      </div>
      <div class="cont-shopping light">
        <a href="#">Verder winkelen</a>
      </div>
      <div class="product-details">
        <div class="accordion question semibold flex-box justify-between">
          <div class="question-left">OMSCHRIJVING</div>
          <div class="question-chevron yellow-down-chevron">{% include 'icon-black-down-chevron' %}</div>
        </div>
        <div class="panel answer light"><p>{{ product.metafields.my_fields.omschrijving }}</p></div>
        
        
        <div class="accordion question semibold flex-box justify-between">
          <div class="question-left">MATERIAAL</div>
          <div class="question-chevron yellow-down-chevron">{% include 'icon-black-down-chevron' %}</div>
        </div>
        <div class="panel answer light"><p>{{ product.metafields.my_fields.materiaal }}</p></div>
        
        
        <div class="accordion question semibold flex-box justify-between">
          <div class="question-left">GEBRUIKSAANWIJZING</div>
          <div class="question-chevron yellow-down-chevron">{% include 'icon-black-down-chevron' %}</div>
        </div>
        <div class="panel answer light"><p>{{ product.metafields.my_fields.gebruiksaanwijzing }}</p></div>
        
        
        <div class="accordion question semibold flex-box justify-between">
          <div class="question-left">WASVOORSCHRIFT</div>
          <div class="question-chevron yellow-down-chevron">{% include 'icon-black-down-chevron' %}</div>
        </div>
        <div class="panel answer light"><p>{{ product.metafields.my_fields.wasvoorschrift }}</p></div>
        
        
      </div>
    </div>
  </div>
</div>


<script>
  $('.qty-minus').click(function() {
  	var data_qty = parseInt($(this).next().data('qty'));
    if( data_qty != 1 )
    {
    	data_qty = data_qty - 1;
      $(this).next().data('qty', data_qty);
      $(this).next().html(data_qty);
    }
  });
  
  $('.qty-plus').click(function() {
    var data_qty = parseInt($(this).prev().data('qty'));
    data_qty = data_qty + 1;
    $(this).prev().data('qty', data_qty);
    $(this).prev().html(data_qty);
  });
</script>



{% schema %}
  {
    "name": "Product-Block",
    "settings": [
		{
            "type": "text",
            "id": "featured_collection_title",
            "label": "Featured Collection Title"
		}
	],
	"presets": [
    {
      "name": "Product-Block",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
