{% include "colors-snippet" %}
{{ 'faq.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'product-block.css' | asset_url | stylesheet_tag }}
{{ 'image-with-text-new.css' | asset_url | stylesheet_tag }}
<style>
  .slick-next {
    right: 8px;
    width: calc(25% - 20.5px);
    height: 84px;
    border-radius: 8px;
    background-color: #000000;
    opacity: 0.8;
    top: 40.5px;
    background-image: url('{{ 'next-arrow.png' | asset_img_url: '300x' }}');
      background-repeat: no-repeat;
      background-position: 50%;
      }

  .slick-next svg{
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);

  }

  .slick-prev {
    left: 12px;
    width: calc(25% - 20.5px);
    height: 84px;
    border-radius: 8px;
    background: #000000;
    opacity: 0.8;
    top: 40.5px;
    z-index: 1;
    background-image: url('{{ 'next-arrow.png' | asset_img_url: '300x' }}');
      background-repeat: no-repeat;
      background-position: 50%;
      }

  .product-block-wrapper .dots-left-down {
    top: -23px;
    left: -22px;
  }

  .slider-for img{
    height:572px;
    background-color: #ffffff;
  }
  .response-message {
    display: block;
    width: 100%;
    text-align: right;
    color: red;
    font-weight: 300;
  }


  @media screen and (max-width: 560px) {
    .slick-next{
      right: 5px;
      width: calc(25% - 18.5px);
    }

    .slick-prev {
      left: 11px;
      width: calc(25% - 18.5px);
    }

    .slider-for img {
      max-height: 263px;
    }
  }
  {% assign images_count = product.images | size %}
  {% if images_count < 5 %}
  .slider-nav .slick-track {
    margin-left: 0;
    transform: none !important;
  }
  {% endif %}

</style>


<div class="product-block-wrapper container rel">
 
  <div class="product-block flex-box justify-between">

    <div class="product-block-left rel">
       <div class="bg-yellow-dots dots-left-down">
    {% include 'bg-grey-dots' %}
  </div>
      <div class="slider-for">
        {% for image in product.images %}
        <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title | escape }}" style="width: 100%;">
        {% endfor %}
      </div>
      <div class="slider-nav">
        {% for image in product.images %}
        <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title | escape }}" style="width: 100%;">
        {% endfor %}
      </div>
    </div>
    <div class="product-block-right">
      <h2 class="product-title bold">{{ product.title }}</h2>
      <div class="product-price-wrapper">
        <div class="no-js-hidden" id="price-{{ section.id }}">
          {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
        </div>
      </div>

      <div class="product-desc light style-scrollbar">{{ product.description }}</div>

      <!--       ----------------------------------------------------------------------- -->
      {%- unless product.has_only_default_variant -%}
      <div class="variant-options-wrapper">
        <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
          <div class="fieldset-wrapper style-scrollbar">
          {%- for option in product.options_with_values -%}
            
              {% assign dwncase = option.name | downcase %}
              {% assign loopno = forloop.index0 %}
            
            {% assign lastone = null %}
            {% if forloop.last %}
            {% assign lastone = "true" %}
            {% endif %}
          <fieldset class="js product-form__input ">
            <div class="variant-option-name">
              {%- if option.name contains "Size" or option.name contains "Maat"  -%}
              {{ section.settings.choose_size_text }}

              <div class="show modal-btn" aria-haspopup="true">{{ section.settings.size_label }}</div>
              <div class="mask" role="dialog"></div>
              <div class="modal style-scrollbar" role="alert">
                <div style="width: 100%;min-height: 520px;background-color: #D9D9D9;border: 1px solid #707070;display: block;"><img class="size-guide-img" src="{{ product.metafields.my_fields.size_image | image_url: width: 700 }}"></div>
                <button class="close" role="button">{% render "icon-close-1" %}</button>
              </div>
              {%- elsif dwncase contains "kleur" or dwncase contains "color" -%}
              {{option.name | upcase}}: <span class="color-change-btn light">{{ section.settings.change_text }}</span>
              {% else %}
              {{option.name | upcase}}:
              {%- endif -%}
            </div>
            {%- for value in option.values -%}
            {% assign variantImg = blank %}
            {% assign variantColorCode = blank %}
            {% for variant in product.variants %}
              {% if variant.options[loopno] == value %}
            {% if loopno == 0 %}
                {% if variant.metafields.my_fields.variant_image %}
                  {% assign variantImg = variant.metafields.my_fields.variant_image %}
            	{% elsif variant.metafields.my_fields.variant_color %}
                  {% assign variantColorCode = variant.metafields.my_fields.variant_color %}
                {% endif %}
            {% elsif loopno == 1 %}
            	{% if variant.metafields.my_fields.variant_image_2 %}
                  {% assign variantImg = variant.metafields.my_fields.variant_image_2 %}
            	{% elsif variant.metafields.my_fields.variant_color_2 %}
                  {% assign variantColorCode = variant.metafields.my_fields.variant_color_2 %}
                {% endif %}
            {% else %}
            	{% if variant.metafields.my_fields.variant_image_3 %}
                  {% assign variantImg = variant.metafields.my_fields.variant_image_3 %}
            	{% elsif variant.metafields.my_fields.variant_color_3 %}
                  {% assign variantColorCode = variant.metafields.my_fields.variant_color_3 %}
                {% endif %}
            {% endif %}
              {% endif %}      
            {% endfor %}
            <input type="radio" id="{{ section.id }}-{{ value }}-{{ forloop.index0 }}"
                   class="no-disp"
                   name="{%- if option.name contains "Title" or option.name contains "Maat" or option.name contains "Size" -%}
                         Title
                         {%- else if option.name contains "Colour" -%}
                         {{ option.name }}
                         {%- elsif dwncase contains "kleur" or dwncase contains "color" -%}
                         Color
                         {% else %}
                         {{ option.name }}
                         {%- endif -%}"
                   value="{{ value | escape }}"
                   form="product-form-{{ section.id }}"
                   {% if option.selected_value == value %}checked{% endif %}
                   >
            {%-if dwncase contains "kleur" or dwncase contains "color" or dwncase contains "colour" -%}
            
            <label class="{{ option.name }} color-label" for="{{ section.id }}-{{ value }}-{{ forloop.index0 }}" title="{{value}}">
              <span class="color-swatch" >
                {% comment %}
                <img src="{{ variantImg | img_url }}" class="{{ value }} colors-color">
                {% endcomment %}
                {% assign colorsSch = colorScheme | strip_newlines | split: "," %}
                {% for colors in colorsSch %}
                  {% assign color = colors | split: ":" %}
                {% assign downcase1 = color[0] | downcase %}
                {% assign downcase2 = value | downcase %}
                  {% if downcase1 == downcase2 %}
                    {% assign variantColorCode = color[1] %}
                    {% break %}
                  {% endif %}
                {% endfor %} 
                
                
                {% assign imgsrc = value | append: ".PNG" %}
                {% if variantImg != blank %}
                {% assign variantColorCode = variantImg | img_url | prepend: "url(" | append: ")" %}
                {% endif %}
                
                {% if variantColorCode == blank %}
                {% assign variantColorCode = "url(//cdn.shopify.com/s/files/1/0594/3604/0367/files/none.png?v=1634556355)" %}
                {% endif %}
                
                <span class="colors-color" style="background:{{ variantColorCode }};"></span>
                
              </span>
              <span class="v-name {%if dwncase contains "kleur" or dwncase contains "color" or dwncase contains "colour" %}v-name-color{%endif%}"> {{ value }}</span> 
            </label>
            {%- else -%}
            <label class="{{ option.name }} title-label" for="{{ section.id }}-{{ value }}-{{ forloop.index0 }}">
              {{ value }}
            </label>&nbsp{% unless lastone %} - {% endunless %}&nbsp
            {%- endif -%}
            {%- endfor -%}
           </fieldset>
          {%- endfor -%}
          </div>
          <script id="product-json" type="application/json">
              {{ product.variants | json }}
             
          </script>
          <script>
           var prodvar = JSON.parse(`{{ product.variants | json }}`);
        </script>
        </variant-radios>
      </div>
      {%- endunless -%}
      <!--       ------------------------------------------------------------------------------- -->
<div id="edt-p"></div>
      <div class="product-qty-add-to-cart-wrapper flex-box justify-between">
        <div class="product-qty semibold flex-box">
          <span class="qty-minus qty-nav flex-box align-center justify-center">{% render "icon-minus" %}</span>
          <span class="qty flex-box align-center justify-center" data-qty="1">1</span>
          <span class="qty-plus qty-nav flex-box align-center justify-center">{% render "icon-plus" %}</span>
        </div>
        
        <div id="add-to-cart" 
             class="AddToCart add-to-cart-btn btn btn-yellow bold flex-box justify-center align-center" 
             data-value="{{ product.selected_or_first_available_variant.id }}"
             data-variant-id = "{{product.selected_or_first_available_variant.id }}"
             data-quantity = ""
             >
          <span class="no-t-m">{{ section.settings.add_cart_btn_txt }}</span>
          <span class="mob-atc-btn no-d flex-box align-center"><span class="atc-plus">{% render "icon-plus" %}</span> <span class="atc-cart">{% render "icon-cart-new-black" %}</span></span>
        </div>
      </div>
        <div class="response-message"></div>
      <div class="cont-shopping light">
        <a href="/collections">{{ section.settings.cont_shopping_btn_txt }}</a>
      </div>
      {% include "product-details-dropdowns" %}
    </div>
  </div>
</div>
<script>
  
  
  $(document).ready(function () {
    $('.color-change-btn').click(function () {
      $(this).closest("fieldset").toggleClass("toggle-colors-open");
    });
    $('.product-form__input input[type=radio]').change(function() {
      $(this).closest("fieldset").removeClass("toggle-colors-open");
    });
  });
  
    $(".product-qty-add-to-cart-wrapper").on( "click", ".qty-minus", function() {
  	var data_qty = parseInt($(this).next().data('qty'));
    if( data_qty != 1 )
    {
    	data_qty = data_qty - 1;
      $(this).next().data('qty', data_qty);
      $(this).next().html(data_qty);
    }
  });
  
  $(".product-qty-add-to-cart-wrapper").on( "click", ".qty-plus", function() {
    var data_qty = parseInt($(this).prev().data('qty'));
    data_qty = data_qty + 1;
    $(this).prev().data('qty', data_qty);
    $(this).prev().html(data_qty);
  });
  
  
  
  // Click function for show the Modal

$(".show").on("click", function(){
  $(".mask").addClass("active");
});

// Function for close the Modal

function closeModal(){
  $(".mask").removeClass("active");
}

// Call the closeModal function on the clicks/keyboard

$(".close, .mask").on("click", function(){
  closeModal();
});

$(document).keyup(function(e) {
  if (e.keyCode == 27) {
    closeModal();
  }
});
  
  $( document ).ready(function() {
    $( "#openAccordion" ).trigger( "click" );
});
</script>



{% schema %}
  {
    "name": "Product-Block",
    "settings": [
		{
            "type": "text",
            "id": "featured_collection_title",
            "label": "Featured Collection Title"
		},
		{
			"id": "choose_size_text",
			"type": "text",
			"label": "Choose Size Text",
			"default": "KIES JOUW MAAT"
		},
		{
			"id": "size_label",
			"type": "text",
			"label": "Size Label",
			"default": "Maattabel"
		},
		{
			"id": "change_text",
			"type": "text",
			"label": "Change Text",
			"default": "Wijzig"
		},
		{
			"id": "add_cart_btn_txt",
			"type": "text",
			"label": "Add to cart button text",
			"default": "TOEVOEGEN AAN WINKELMANDJE"
		},
		{
			"id": "cont_shopping_btn_txt",
			"type": "text",
			"label": "Continue shopping button text",
			"default": "Verder winkelen"
		}
	],
	"presets": [
    {
      "name": "Product-Block",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script src="https://widget.reviews.io/polaris/build.js"></script>
<div id="ReviewsWidget"></div>
<script>
new ReviewsWidget('#ReviewsWidget', {
//Your REVIEWS.io Store ID and widget type:
store: 'diace.be',
widget: 'polaris',

//Content settings (store_review,product_review,third_party_review,questions). Choose what to display in this widget:
options: {
    types: 'product_review,questions',
    lang: 'en',
    //Possible layout options: bordered, large and reverse.
    layout: '',
    //How many reviews & questions to show per page?
    per_page: 15,
    store_review:{
      hide_if_no_results: false,
    },
    third_party_review:{
      hide_if_no_results: false,
    },
    product_review: {
      sku: "{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}",
      enable_rich_snippets: true,

      /* Your custom Structured Data */
      structured_data: {

        category: {{ product.type | json }},
        {% capture gtin_length %}{{ product.variants.first.barcode | size }}{% endcapture %}


        {% if gtin_length == "14" %}
           gtin14:"{{product.variants.first.barcode}}",
        {% elsif gtin_length == "13" %}
           gtin13:"{{product.variants.first.barcode}}",
        {% elsif gtin_length == "12" %}
           gtin12:"{{product.variants.first.barcode}}",
        {% endif %}

        url: "{{ shop.url }}{{ product.url }}",

        {%- if product.featured_image -%}
          image: "https:{{ product.featured_image | product_img_url: 'grande' }}",
        {%- endif -%}

        {% if variant.image %}
          {% assign variant_image_size = variant.image.width | append: 'x' %}
          image: "http:{{ variant.image.src | img_url: variant_image_size }}",
        {% endif %}

        description: "{{ product.description | strip_html | strip_newlines | escape }}",
        {% assign ruk_current_variant = product.selected_or_first_available_variant %}
        {% assign ruk_variant_count = product.variants | size %}
        {% assign ruk_count = 0 %}

        {% if product.variants %}
          {% assign ruk_count = ruk_count | plus: 1 %}

          offers: [{
              type: "Offer",
              priceCurrency: "{{ cart.currency.iso_code }}",
              price: "{{ ruk_current_variant.price | money_without_currency | replace: ',', '.' }}",
              itemCondition: "http://schema.org/NewCondition",
              availability: "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
              url: "{{ shop.url }}{{ ruk_current_variant.url }}",

              {% if ruk_current_variant.image %}
                  {% assign variant_image_size = ruk_current_variant.image.width | append: 'x' %}
                  image: "https:{{ ruk_current_variant.image.src | img_url: variant_image_size }}",
              {% else %}
                  image: "https:{{ product.featured_image.src | img_url: 'grande' }}",
              {% endif %}

              {% if ruk_current_variant.title != 'Default Title' %}
                  name: "{{ product.title | strip_html | escape }} - {{ fa_current_variant.title | escape }}",
              {% else %}
                  name: "{{ product.title | strip_html | escape }}",
              {% endif %}

              {% if ruk_current_variant.barcode.size == 12 %}
                  gtin12: "{{ ruk_current_variant.barcode }}",
              {% endif %}

              {% if ruk_current_variant.barcode.size == 13 %}
                  gtin13: "{{ ruk_current_variant.barcode }}",
              {% endif %}

              {% if ruk_current_variant.barcode.size == 14 %}
                  gtin14: "{{ ruk_current_variant.barcode }}",
              {% endif %}

              {% if ruk_current_variant.sku != blank %}
                  sku: "{{ ruk_current_variant.sku }}",
              {% else %}
                  sku: "{{ ruk_current_variant.id }}",
              {% endif %}

              {% if product.description != blank %}
                  description: "{{ product.description | strip_html | escape | strip_newlines }}",
              {% endif %}

              priceValidUntil: "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
          }],
        {% endif %}

        brand: {
          type: 'Brand',
          name: '{{ product.vendor | escape }}',
        },
      },
    },

    /* Toggle Options */
    questions:{
          hide_if_no_results:false,
          enable_ask_question:true,
          show_dates:true,
          grouping:"{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"
    },

    //Header settings:
    header:{
        enable_summary: true, //Show overall rating & review count
        enable_ratings: true,
        enable_attributes: true,
        enable_image_gallery: true, //Show photo & video gallery
        enable_percent_recommended: false, //Show what percentage of reviewers recommend it
        enable_write_review: true, //Show "Write Review" button
        enable_ask_question: true, //Show "Ask Question" button
        enable_sub_header: true, //Show subheader
        rating_decimal_places: 2,
    },

    //Filtering settings:
    filtering:{
        enable: true, //Show filtering options
        enable_text_search: true, //Show search field
        enable_sorting: true, //Show sorting options (most recent, most popular)
        enable_media_filter: true, //Show reviews with images/video/media options
        enable_overall_rating_filter: true, //Show overall rating breakdown filter
        enable_language_filter: false, // Filter by review language
        enable_language_filter_language_change: false, // Update widget language based on language selected
        enable_ratings_filters: true, //Show product attributes filter
        enable_attributes_filters: true, //Show author attributes filter
    },

    //Review settings:
    reviews:{
        enable_avatar: true, //Show author avatar
        enable_reviewer_name:  true, //Show author name
        enable_reviewer_address:  true, //Show author location
        reviewer_address_format: 'city, country', //Author location display format
        enable_verified_badge: true, //Show "Verified Customer" badge
        review_content_filter: 'undefined', //Filter content
        enable_reviewer_recommends: true, //Show "I recommend it" badge
        enable_attributes: true, //Show author attributes
        enable_product_name: true, //Show display product name
        enable_review_title: undefined, //Show review title
        enable_replies: undefined, //Show review replies
        enable_images: true, //Show display review photos
        enable_ratings: true, //Show product attributes (additional ratings)
        enable_share: true, //Show share buttons
        enable_helpful_vote: true, //Show "was this helpful?" section
        enable_helpful_display: true, //Show how many times times review upvoted
        enable_report: true, //Show report button
        enable_date: true, //Show when review was published
    },
},
//Translation settings
translations: {
    'Verified Customer': 'Verified Customer'
},
//Style settings:
styles: {
    //Base font size is a reference size for all text elements. When base value gets changed, all TextHeading and TexBody elements get proportionally adjusted.
    '--base-font-size': '16px',

    //Button styles (shared between buttons):
    '--common-button-font-family': 'inherit',
    '--common-button-font-size':'16px',
    '--common-button-font-weight':'500',
    '--common-button-letter-spacing':'0',
    '--common-button-text-transform':'none',
    '--common-button-vertical-padding':'10px',
    '--common-button-horizontal-padding':'20px',
    '--common-button-border-width':'2px',
    '--common-button-border-radius':'0px',

    //Primary button styles:
    '--primary-button-bg-color': '#0E1311',
    '--primary-button-border-color': '#0E1311',
    '--primary-button-text-color': '#ffffff',

    //Secondary button styles:
    '--secondary-button-bg-color': 'transparent',
    '--secondary-button-border-color': '#0E1311',
    '--secondary-button-text-color': '#0E1311',

    //Star styles:
    '--common-star-color': '#0E1311',
    '--common-star-disabled-color': 'rgba(0,0,0,0.25)',
    '--medium-star-size': '22px',
    '--small-star-size': '19px',

    //Heading styles:
    '--heading-text-color': '#0E1311',
    '--heading-text-font-weight': '600',
    '--heading-text-font-family': 'inherit',
    '--heading-text-line-height': '1.4',
    '--heading-text-letter-spacing': '0',
    '--heading-text-transform': 'none',

    //Body text styles:
    '--body-text-color': '#0E1311',
    '--body-text-font-weight': '400',
    '--body-text-font-family': 'inherit',
    '--body-text-line-height': '1.4',
    '--body-text-letter-spacing': '0',
    '--body-text-transform': 'none',

    //Input field styles:
    '--inputfield-text-font-family': 'inherit',
    '--input-text-font-size': '14px',
    '--inputfield-text-font-weight': '400',
    '--inputfield-text-color': '#0E1311',
    '--inputfield-border-color': 'rgba(0,0,0,0.2)',
    '--inputfield-background-color': 'transparent',
    '--inputfield-border-width': '1px',
    '--inputfield-border-radius': '0px',

    '--common-border-color': 'rgba(0,0,0,0.15)',
    '--common-border-width': '1px',
    '--common-sidebar-width': '190px',

    //Slider indicator (for attributes) styles:
    '--slider-indicator-bg-color': 'rgba(0,0,0,0.1)',
    '--slider-indicator-button-color': '#0E1311',
    '--slider-indicator-width': '190px',

    //Badge styles:
    '--badge-icon-color': '#0E1311',
    '--badge-icon-font-size': 'inherit',
    '--badge-text-color': '#0E1311',
    '--badge-text-font-size': 'inherit',
    '--badge-text-letter-spacing': 'inherit',
    '--badge-text-transform': 'inherit',

    //Author styles:
    '--author-font-size': 'inherit',
    '--author-text-transform': 'none',

    //Author avatar styles:
    '--avatar-thumbnail-size': '60px',
    '--avatar-thumbnail-border-radius': '100px',
    '--avatar-thumbnail-text-color': '#0E1311',
    '--avatar-thumbnail-bg-color': 'rgba(0,0,0,0.1)',

    //Product photo or review photo styles:
    '--photo-video-thumbnail-size': '80px',
    '--photo-video-thumbnail-border-radius': '0px',

    //Media (photo & video) slider styles:
    '--mediaslider-scroll-button-icon-color': '#0E1311',
    '--mediaslider-scroll-button-bg-color': 'rgba(255, 255, 255, 0.85)',
    '--mediaslider-overlay-text-color': '#ffffff',
    '--mediaslider-overlay-bg-color': 'rgba(0, 0, 0, 0.8))',
    '--mediaslider-item-size': '110px',

    //Pagination & tabs styles (normal):
    '--pagination-tab-text-color': '#0E1311',
    '--pagination-tab-text-transform': 'none',
    '--pagination-tab-text-letter-spacing': '0',
    '--pagination-tab-text-font-size': '16px',
    '--pagination-tab-text-font-weight': '600',

    //Pagination & tabs styles (active):
    '--pagination-tab-active-text-color': '#0E1311',
    '--pagination-tab-active-text-font-weight': '600',
    '--pagination-tab-active-border-color': '#0E1311',
    '--pagination-tab-border-width': '3px',
},
});
</script>