{{ 'article.css' | asset_url | stylesheet_tag }}

<div class="container share">
  <div class="content-wrapper">
    <div class="article-share">
      <p class="share-heading">{{section.settings.share_heading}}</p>
      <div class="share-platforms">
        {% for block in section.blocks %}
        <a href="{{ block.settings.social_icon_link }}">
          {% if block.settings.social_icon != blank %}
          <img src="{{ block.settings.social_icon | img_url : " icon" }}" 
               alt="social-icon" 
               loading="lazy">
          {% else %}
          <div class="cart-placeholder">{{ 'image' | placeholder_svg_tag }}</div>
          {% endif %}
        </a>
        {% endfor %}
        <a href="#" class=" tooltip rel" id="share" onclick="return false;">{% render "icon-share-link" %}</a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="next-previous-article">
      {% if blog.next_article or blog.previous_article %}

      {% if blog.previous_article %}
      <span class="previous">
        {% include "back-icon" %} {{ section.settings.previous_heading | link_to: blog.previous_article }}
      </span>
      {% else %}
      <div></div>
      {% endif %}
      
      {% if blog.next_article %}
      <span class="next">
        {{ section.settings.next_heading | link_to: blog.next_article }} {% include "back-icon" %}
      </span>
      {% else %}
      <div></div>
      {% endif %}

      {% endif %}

    </div>
  </div>
</div>

<script>
  $( "#share" ).click(function() {
    if (navigator.share) {
      navigator.share({
        title: 'blisspaint.com',
        text: 'Choose your own colour - Wall Paint',
        url: 'https://blisspaint.com/products/choose-your-own-colour-wall-paint',
      })
      .then(() => console.log('Successful share'))
      .catch((error) => console.log('Error sharing', error));
    } else {
      var el = document.createElement('textarea');
      el.value = "https://blisspaint.com/products/choose-your-own-colour-wall-paint";
      document.body.appendChild(el);
      el.select();
      el.setSelectionRange(0, 99999);
      document.execCommand('copy');
      document.body.removeChild(el);

      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copied to clipboard";
    }
  });
  if (navigator.share) {
    $("#myTooltip").remove();
  }
  });
</script>

{% schema %}
{
    "name": "Section with divider",
    "settings": [
        {
            "id": "share_heading",
            "type": "text",
            "label": "Heading"
        },
        {
            "id": "previous_heading",
            "type": "text",
            "label": "Previous Text"
        },
        {
            "id": "next_heading",
            "type": "text",
            "label": "Next Text"
        }
    ],
    "blocks": [
        {
            "type": "social",
            "name": "Social Icon",
            "limit": 6,
            "settings": [
                {
                    "id": "social_icon",
                    "type": "image_picker",
                    "label": "Social icon"
                },
                {
                    "id": "social_icon_link",
                    "type": "url",
                    "label": "Social link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Social Icon"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
