{{ 'text-with-background.css' | asset_url | stylesheet_tag }}

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      <div id="shopify-section-template--15538005377199__1650459071b619d38d" class="shopify-section"><link href="//cdn.shopify.com/s/files/1/0594/3604/0367/t/2/assets/text-with-background.css?v=1444587054934316316" rel="stylesheet" type="text/css" media="all">


<div class="text-background">
}
  <div class=" back-btn  ">
    <a class="" href="/pages/join-our-team"><svg xmlns="http://www.w3.org/2000/svg" width="10.828" height="6.414" viewBox="0 0 10.828 6.414"><defs><style>.chevron-a{fill:none;stroke:#737373;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><path class="chevron-a" d="M7431,3152l4,4,2.333-2.333L7439,3152" transform="translate(-7429.585 -3150.585)"></path></svg> Terug</a> 
  </div>
  <div class="heading-container">
}
  </div> 
</div>
<div class="container content-container  btm_padding ">
  <div class="text-content">
    <div class="text-description">
      Diacé is the online place-to-go voor alles wat me diabetes accessoires te maken heeft.
Je kan bij ons terecht voor een ruim assortiment aan handige diabetes accessoires. Met meer dan 750 producten brengen wij kleur in het leven met diabetes, op een leuke en aangename manier.
Als jong bedrijf met internationale ambities zijn wij op zoek naar versterking. Ben je klaar voor een zot avontuur? Dan ben je misschien wel de persoon die wij zoeken!
<br><br>
<strong>FUNCTIEOMSCHRIJVING</strong>
<br><br>
Content creeëren op de leukste en een aangename manier. Helemaal in de ban van tik tok? Waag de sprong en maak zelf een aantal filmpjes. Mee met de nieuwste trends en reels? Baan je weg in de wereld van sociale media en wordt de nieuwe trendsetter.
<br><br>
<strong>PROFIEL</strong>
<br><br>Je bruist van enthousiasme, passie en nieuwe ideeën.<br>Je weet van aanpakken, out-of-the-box denken en gaat er met volle goesting tegenaan.<br> Je vindt het niet erg om vlogs te maken en video's te maken waar je zelf in voorkomt. <br>Je hebt een beetje ervaring in het nmaken van sociale media posts. <br> Je kan je goed uitdrukken in het Nederlands en Engels en hebt geen bang voor andere talen. <br> Je bent een krak in foutloos schrijven en hebt een leuke schrijfstijl. <br><br><strong>AANBOD</strong>
<br><br>Een leuke plek waar je creativiteit de loop kan gaan. Hier staat alles voor je klaar om het zo comfortabel mogelijk te maken. Toffe collega’s en veel koffie om wakker te blijven!
    </div>
  </div>
</div>
<button class="go-up"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="5.81" viewBox="0 0 10.121 5.81"><defs><style>.a-icon-down-yellow-chevron{fill:none;stroke:#FEC23B;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><path class="a-icon-down-yellow-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152" transform="translate(-7429.939 -3150.939)"></path></svg>
</button>








</div><div id="shopify-section-template--15538005377199__1650459486b45955e4" class="shopify-section"><link href="//cdn.shopify.com/s/files/1/0594/3604/0367/t/2/assets/form-with-text.css?v=744188123131413257" rel="stylesheet" type="text/css" media="all">

<div class="form-with-text padding-y-0 margin-y-0">
  <div class="container">
    <div class="form_with_text_wrapper plain-form">
      <div class="text_heading">
        <h2 class="section-heading">IS DEZE JOB OP JOUW LIJF GESCHREVEN? SOLLICITEER NU!</h2>
      </div>
      <div class="form"><form method="post" action="/contact#ContactForm" id="ContactForm" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="contact"><input type="hidden" name="utf8" value="✓"><div class="form_container">
            <div class="input_form_control ">
              <label for="first-name">Naam*</label>
              <input placeholder="Vul je naam in" type="text" name="contact[first_name]" id="first-name" class="name" value="" required="">
            </div>
            <div class="input_form_control ">
              <label for="ContactForm-email">E-MAIL*</label>
              <input autocomplete="email" type="email" id="ContactForm-email" name="contact[email]" spellcheck="false" autocapitalize="off" value="" aria-required="true" placeholder="youremail@mail.com" required=""></div>
            <div class="input_form_control ">
              <label for="ContactForm-phone">TELEFOONNUMMER</label>
              <input type="tel" id="ContactForm-phone" autocomplete="tel" name="contact[phone-number]" pattern="[0-9\-]*" value="" placeholder="Vul je telefoonnummer in, enkel cijfers">
            </div>
            <div class="input_form_control ">
              <label for="cv-motivate">CV - MOTIVATIE</label>
              <input placeholder="Klik om uw bestand te updloaden" type="text" id="cv-motivate" name="contact[cv_motivate]">
            </div>
            <div class="input_form_control ">
              <label for="message">UW BERICHT*</label>
              <textarea rows="8" cols="50" placeholder="Jouw bericht" id="message" name="contact[body]" class="name" required=""></textarea>
            </div>
            <div class="submit_button">
              <button type="submit" class="btn-yellow">VERZENDEN <span class="icon-send"><svg xmlns="http://www.w3.org/2000/svg" width="20.913" height="20.473" viewBox="0 0 20.913 20.473">
  <g id="send" transform="translate(10.237 -1.768) rotate(45)">
    <line id="Line_219" data-name="Line 219" x1="7.137" y2="7.137" transform="translate(7.84 2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></line>
    <path id="Path_238" data-name="Path 238" d="M14.977,2,10.435,14.977l-2.6-5.84L2,6.542Z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
  </g>
</svg>
</span></button>
            </div>
          </div></form></div>
    </div>
  </div>
</div>






</div><div id="shopify-section-template--15538005377199__16504595071a4e4c0a" class="shopify-section"><link href="//cdn.shopify.com/s/files/1/0594/3604/0367/t/2/assets/article.css?v=10681027561541922018" rel="stylesheet" type="text/css" media="all">

<div class="container share">
  <div class="content-wrapper">
    <div class="article-share">
      <p class="share-heading">Deel deze vacature.</p>
      <div class="share-platforms">
        <a class="share_icons" href="http://www.facebook.com/share.php?u=https://diace.be/pages/job-content&amp;title=" target="_blank">
        <!--?xml version="1.0" encoding="iso-8859-1"?-->
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#FEC23B;" d="M134.941,272.691h56.123v231.051c0,4.562,3.696,8.258,8.258,8.258h95.159
	c4.562,0,8.258-3.696,8.258-8.258V273.78h64.519c4.195,0,7.725-3.148,8.204-7.315l9.799-85.061c0.269-2.34-0.472-4.684-2.038-6.44
	c-1.567-1.757-3.81-2.763-6.164-2.763h-74.316V118.88c0-16.073,8.654-24.224,25.726-24.224c2.433,0,48.59,0,48.59,0
	c4.562,0,8.258-3.698,8.258-8.258V8.319c0-4.562-3.696-8.258-8.258-8.258h-66.965C309.622,0.038,308.573,0,307.027,0
	c-11.619,0-52.006,2.281-83.909,31.63c-35.348,32.524-30.434,71.465-29.26,78.217v62.352h-58.918c-4.562,0-8.258,3.696-8.258,8.258
	v83.975C126.683,268.993,130.379,272.691,134.941,272.691z"></path>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

        </a>
        <a class="share_icons" href="http://twitter.com/share?url=https://diace.be/pages/job-content" target="_blank">
        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path fill="#FEC23B" fill-rule="evenodd" d="M24,4.3086 C23.117,4.7006 22.168,4.9646 21.172,5.0836 C22.188,4.4746 22.969,3.5096 23.337,2.3596 C22.386,2.9246 21.332,3.3336 20.21,3.5556 C19.312,2.5976 18.032,1.9996 16.616,1.9996 C13.897,1.9996 11.692,4.2046 11.692,6.9236 C11.692,7.3096 11.736,7.6856 11.82,8.0456 C7.728,7.8406 4.099,5.8806 1.671,2.9006 C1.247,3.6286 1.004,4.4736 1.004,5.3766 C1.004,7.0846 1.873,8.5926 3.195,9.4756 C2.388,9.4486 1.628,9.2276 0.964,8.8596 L0.964,8.9206 C0.964,11.3066 2.661,13.2966 4.914,13.7486 C4.501,13.8626 4.065,13.9216 3.617,13.9216 C3.299,13.9216 2.991,13.8906 2.69,13.8336 C3.317,15.7896 5.135,17.2136 7.29,17.2536 C5.604,18.5736 3.481,19.3606 1.175,19.3606 C0.777,19.3606 0.385,19.3376 0,19.2926 C2.179,20.6886 4.767,21.5046 7.548,21.5046 C16.605,21.5046 21.557,14.0016 21.557,7.4946 C21.557,7.2816 21.552,7.0696 21.543,6.8586 C22.505,6.1636 23.34,5.2966 24,4.3086"></path>
</svg>

        </a>
        <a class="share_icons" href="http://pinterest.com/pin/create/button/?url=https://diace.be/pages/job-content" target="_blank">
          <!--?xml version="1.0" encoding="iso-8859-1"?-->
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.998 511.998" style="enable-background:new 0 0 511.998 511.998;" xml:space="preserve">
<path style="fill:#FEC23B;" d="M405.017,52.467C369.774,18.634,321.001,0,267.684,0C186.24,0,136.148,33.385,108.468,61.39
	c-34.114,34.513-53.675,80.34-53.675,125.732c0,56.993,23.839,100.737,63.76,117.011c2.68,1.098,5.377,1.651,8.021,1.651
	c8.422,0,15.095-5.511,17.407-14.35c1.348-5.071,4.47-17.582,5.828-23.013c2.906-10.725,0.558-15.884-5.78-23.353
	c-11.546-13.662-16.923-29.817-16.923-50.842c0-62.451,46.502-128.823,132.689-128.823c68.386,0,110.866,38.868,110.866,101.434
	c0,39.482-8.504,76.046-23.951,102.961c-10.734,18.702-29.609,40.995-58.585,40.995c-12.53,0-23.786-5.147-30.888-14.121
	c-6.709-8.483-8.921-19.441-6.222-30.862c3.048-12.904,7.205-26.364,11.228-39.376c7.337-23.766,14.273-46.213,14.273-64.122
	c0-30.632-18.832-51.215-46.857-51.215c-35.616,0-63.519,36.174-63.519,82.354c0,22.648,6.019,39.588,8.744,46.092
	c-4.487,19.01-31.153,132.03-36.211,153.342c-2.925,12.441-20.543,110.705,8.618,118.54c32.764,8.803,62.051-86.899,65.032-97.713
	c2.416-8.795,10.869-42.052,16.049-62.495c15.817,15.235,41.284,25.535,66.064,25.535c46.715,0,88.727-21.022,118.298-59.189
	c28.679-37.02,44.474-88.618,44.474-145.282C457.206,127.983,438.182,84.311,405.017,52.467z"></path>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

        </a>
        <a class="share_icons" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://diace.be/pages/job-content&amp;title=&amp;source=https://diace.be/pages/job-content" target="_blank"><!--?xml version="1.0" encoding="iso-8859-1"?-->
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<path style="fill:#FEC23B;" d="M119.18,164.715H16.396c-4.562,0-8.258,3.698-8.258,8.258v330.204c0,4.562,3.696,8.258,8.258,8.258
		H119.18c4.562,0,8.258-3.696,8.258-8.258V172.973C127.438,168.413,123.742,164.715,119.18,164.715z"></path>
	<path style="fill:#FEC23B;" d="M67.825,0.563C30.426,0.563,0,30.956,0,68.314c0,37.374,30.426,67.779,67.825,67.779
		c37.369,0,67.771-30.406,67.771-67.779C135.597,30.956,105.195,0.563,67.825,0.563z"></path>
	<path style="fill:#FEC23B;" d="M380.621,156.508c-41.282,0-71.799,17.747-90.309,37.911v-21.446c0-4.56-3.696-8.258-8.258-8.258
		H183.62c-4.562,0-8.258,3.698-8.258,8.258v330.204c0,4.562,3.696,8.258,8.258,8.258h102.56c4.562,0,8.258-3.696,8.258-8.258
		V339.803c0-55.053,14.954-76.501,53.331-76.501c41.796,0,45.117,34.383,45.117,79.334v160.543c0,4.562,3.696,8.258,8.258,8.258
		h102.598c4.562,0,8.258-3.696,8.258-8.258V322.056C512,240.194,496.391,156.508,380.621,156.508z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</a>
        <a class="share_icons" href="mailto:" target="_blank"><!--?xml version="1.0" encoding="iso-8859-1"?-->
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="381.051px" height="381.051px" viewBox="0 0 381.051 381.051" style="enable-background:new 0 0 381.051 381.051;" xml:space="preserve">
<g>
	<path style="fill:#FEC23B;" d="M366.928,56.035H14.124C6.324,56.035,0,62.358,0,70.158v240.733c0,7.799,6.324,14.124,14.124,14.124h352.804
		c7.799,0,14.123-6.325,14.123-14.124V70.158C381.051,62.358,374.727,56.035,366.928,56.035z M28.247,96.901l95.947,65.465
		L28.247,273.039V96.901L28.247,96.901z M190.529,173.428L59.88,84.281h261.29L190.529,173.428z M147.69,178.395l34.875,23.799
		c2.407,1.634,5.187,2.454,7.965,2.454c2.781,0,5.559-0.82,7.958-2.454l34.881-23.799L336,296.767H45.068L147.69,178.395z
		 M256.863,162.366l95.941-65.465v176.123L256.863,162.366z"></path>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</a>
        <a href="#" class=" tooltip rel" id="share" onclick="return false;"><svg width="24px" height="24px" viewBox="0 0 24 24" id="magicoon-Filled" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#FEC23B;}</style></defs><title>link</title><g id="link-Filled"><path id="link-Filled-2" data-name="link-Filled" class="cls-1" d="M20.545,10.467l-1.839,1.84a1,1,0,0,1-1.414-1.414l1.839-1.84a2.965,2.965,0,0,0,0-4.186,3.027,3.027,0,0,0-4.184,0l-3.36,3.36a2.046,2.046,0,0,0-.267.316,2.943,2.943,0,0,0,.268,3.87,1,1,0,0,1-1.415,1.414,4.915,4.915,0,0,1-.5-6.42,3.792,3.792,0,0,1,.5-.594l3.36-3.36a4.959,4.959,0,0,1,7.013,7.014Zm-8.132-.294a1,1,0,0,0,0,1.414,2.928,2.928,0,0,1,.688,3.1,2.827,2.827,0,0,1-.688,1.088l-3.36,3.36a3.027,3.027,0,0,1-4.184,0,2.965,2.965,0,0,1,0-4.186l1.839-1.84a1,1,0,1,0-1.414-1.414l-1.839,1.84a4.959,4.959,0,1,0,7.013,7.014l3.359-3.359a4.813,4.813,0,0,0,1.163-1.849,4.963,4.963,0,0,0-1.163-5.166A1,1,0,0,0,12.413,10.173Z"></path></g></svg></a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="next-previous-article">
      

    </div>
  </div>
</div>

<script>

  $( "#share" ).click(function() {
    if (navigator.share) {
      navigator.share({
        title: 'https://diace.be/pages/job-content',
        text: '',
        url: 'https://diace.be/pages/job-content',
      })
      .then(() => console.log('Successful share'))
      .catch((error) => console.log('Error sharing', error));
    } else {
      var el = document.createElement('textarea');
      el.value = "";
      document.body.appendChild(el);
      el.select();
      el.setSelectionRange(0, 99999);
      document.execCommand('copy');
      document.body.removeChild(el);

      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copied to clipboard";
    }
  });
  if (navigator.share) {
    $("#myTooltip").remove();
  }

</script>






</div>
<limespot></limespot>
    </main>
<div class="text-background">
  <div class=" back-btn {% if section.settings.show_btn == false %} no-disp {% endif %} ">
    <a class="" href="{{section.settings.link_url}}">{% include "back-icon"%} {{section.settings.link_text}}</a> 
  </div>
  <div class="heading-container">
    {{section.settings.text}}
  </div> 
</div>
<div class="container content-container {% if section.settings.btm_padding %} btm_padding {% endif %}">
  <div class="text-content">
    <div class="text-description">
      {{section.settings.description}}
    </div>
  </div>
</div>
<button class="go-up">{% render "icon-yellow-down-chevron" %}</button>



{% schema %}
  {
    "name": "Text with Background",
    "settings": [
		{
          "id": "text",
          "type": "text",
          "label": "Heading"
        },
		{
          "id": "description",
          "type": "html",
          "label": "Content"
        },
		{
          "id": "show_btn",
          "type": "checkbox",
          "label": "Show back Link",
		  "default" : false
        },
		{
          "id": "link_text",
          "type": "text",
          "label": "Link Text",
		  "default" : "Terug"
        },
		{
          "id": "link_url",
          "type": "url",
          "label": "Link Url"
        },
		{
          "id": "btm_padding",
          "type": "checkbox",
          "label": "Add Bottom Padding",
		  "default" : true
        }

	
	],
	"presets": [
    {
      "name": "Text with Background"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
