// Function for close the Cart
function openCart() {
  $(".cart-mask").addClass("active");
}
function toggleCart() {
  $(".cart-mask").toggleClass("active");
}

// Function for close the Cart
function closeCart() {
  $(".cart-mask").removeClass("active");
}

$(document).keyup(function (e) {
  if (e.keyCode == 27) {
    closeCart();
  }
});

$(".cart-toggler, .cart-close").click(function(){
  let output ="";
output += ` 
    {% if cart.item_count > 0 %}
    <div class="cart-list">
      {% for item in cart.items %}
      <div id="{{item.variant_id}}" class="list-item {{ forloop.index }}">
        <a href="{{ item.product.url }}" class="product-img">
          <img class="cart-item__image"
               src="{{ item.image | img_url: '150x' }}"
               alt="{{ item.image.alt | escape }}"
               loading="lazy"
               width="75"
               height="{{ 75 | divided_by: item.image.aspect_ratio | ceil }}"
               >
        </a>
        <div class="product-info">
          <div class="product-name semibold"><a href="{{ item.product.url }}">{{ item.product.title | escape }}</a></div>
          <div class="flex-box justify-between">
            <div class="product-variant">{% if item.variant.title != "Default Title" %}{{ item.variant.title }}{% endif %}</div>
            <div class="count">
              <span class="cart-minus-icon">-</span>
              <span class="item-count-number">{{ item.quantity }}</span>
              <span class="cart-plus-icon ">+</span>
            </div>
          </div>
          <div class="item-price">
            {% if item.variant.compare_at_price %}<span class="compare-at-price">{{ item.variant.compare_at_price | money }}</span>{% endif %}
            <span class="discount-price semibold">{{ item.price | money }}</span>
          </div>
          <button data-variant-id="{{item.variant_id}}" class="remove-item">verwijderen <span class="dustbin">{% render 'icon-remove' %}</span></button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="upsell-container">
      <div class="upsell-heading semibold">Mensen kochten ook:</div>
      <div class="list-item">
        <a href="/" class="product-img">.</a>
        <div class="product-info">
          <div class="product-name semibold"><a href="/">Product name</a></div>
          <div class="flex-box justify-between">
            <div class="product-variant">Variant</div>
          </div>
          <div class="item-price flex-box justify-between">
            <div class="">
              <span class="compare-at-price">€ 00,00</span>
              <span class="discount-price semibold">€ 00,00</span>
            </div>
            <button class="add-upsell-btn semibold"> 
              <span class="plus-circle">+</span> 
              <span class="add-upsell-btn-text">Toevoegen</span> 
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-footer">
      <div class="cart-calculation">
        <div class="flex-box justify-between">
          <div class="subtotal-label light">subtotal</div>
          <div id="sub_total_price" class="subtotal-price semibold">{{ cart.total_price | money }}</div>
        </div>
        <div class="flex-box justify-between">
          <div class="dispatch-label light">Verzending</div>
          <div class="dispatch-msg semibold">Berekend in volgende stap</div>
        </div>
      </div>
      <a href="/checkout" class="checkout-btn">checkout</a>
      <div class="text-center">
        <a href="/" class="continue-shop underline-link">Verder winkelen</a>
      </div>
    </div>
    {% else %}
    <div class="cart-empty-state">
      <div class="empty-msg">
        <div class="empty-state-heading semibold">Er zit nog niets in je mandje</div>
        <div class="empty-state-img">
          {% render "icon-sad-outline" %}
        </div>
      </div>
      <div class="empty-state-links">
        <a href="#" class="empty-state-link">
          OPBERGEN
          <span class="">
            {% render "icon-yellow-down-chevron" %}
          </span>
        </a>
        <a href="#" class="empty-state-link">
          STICKERS
          <span class="">
            {% render "icon-yellow-down-chevron" %}
          </span>
        </a>
        <a href="#" class="btn btn-yellow category-btn">BEKIJK ALLE CATEGORIEËN</a>
      </div>
    </div>
    {% endif %}
    `;

    $('#cart_body_wrapper').html(output);
  toggleCart();
})

$(document).mouseup(function (e) {
  let cart = $('.cart-container');
  if ((!cart.is(e.target) // The target of the click isn't the container.
       && cart.has(e.target).length === 0)) // Nor a child element of the container
  {
    closeCart();
  }

});

